/* `Just geting the grid widths
------------------------------------*/
/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/
/* `Containers
------------------------------------*/
.container {
  margin: 0 auto;
  width: 1020px;
}
/* `Grid >> Global
------------------------------------*/
.grid {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}
/* `Children
------------------------------------*/
.alpha {
  margin-left: 0 !important;
}
.omega {
  margin-right: 0 !important;
}
/* `Grid
------------------------------------*/
.grid_1 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 69px;
}
.grid_2 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 154px;
}
.grid_3 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 239px;
}
.grid_4 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 324px;
}
.grid_5 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 409px;
}
.grid_6 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 494px;
}
.grid_7 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 579px;
}
.grid_8 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 664px;
}
.grid_9 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 749px;
}
.grid_10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 834px;
}
.grid_11 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 919px;
}
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 1004px;
}
/* `Prefix
------------------------------------*/
.prefix_1 {
  padding-left: 85px;
}
.prefix_2 {
  padding-left: 170px;
}
.prefix_3 {
  padding-left: 255px;
}
.prefix_4 {
  padding-left: 340px;
}
.prefix_5 {
  padding-left: 425px;
}
.prefix_6 {
  padding-left: 510px;
}
.prefix_7 {
  padding-left: 595px;
}
.prefix_8 {
  padding-left: 680px;
}
.prefix_9 {
  padding-left: 765px;
}
.prefix_10 {
  padding-left: 850px;
}
.prefix_11 {
  padding-left: 935px;
}
/* `Suffix
------------------------------------*/
.suffix_1 {
  padding-right: 85px;
}
.suffix_2 {
  padding-right: 170px;
}
.suffix_3 {
  padding-right: 255px;
}
.suffix_4 {
  padding-right: 340px;
}
.suffix_5 {
  padding-right: 425px;
}
.suffix_6 {
  padding-right: 510px;
}
.suffix_7 {
  padding-right: 595px;
}
.suffix_8 {
  padding-right: 680px;
}
.suffix_9 {
  padding-right: 765px;
}
.suffix_10 {
  padding-right: 850px;
}
.suffix_11 {
  padding-right: 935px;
}
/* `Push
------------------------------------*/
.push_1 {
  left: 85px;
}
.push_2 {
  left: 170px;
}
.push_3 {
  left: 255px;
}
.push_4 {
  left: 340px;
}
.push_5 {
  left: 425px;
}
.push_6 {
  left: 510px;
}
.push_7 {
  left: 595px;
}
.push_8 {
  left: 680px;
}
.push_9 {
  left: 765px;
}
.push_10 {
  left: 850px;
}
.push_11 {
  left: 935px;
}
/* `Pull
------------------------------------*/
.pull_1 {
  left: -85px;
}
.pull_2 {
  left: -170px;
}
.pull_3 {
  left: -255px;
}
.pull_4 {
  left: -340px;
}
.pull_5 {
  left: -425px;
}
.pull_6 {
  left: -510px;
}
.pull_7 {
  left: -595px;
}
.pull_8 {
  left: -680px;
}
.pull_9 {
  left: -765px;
}
.pull_10 {
  left: -850px;
}
.pull_11 {
  left: -935px;
}
/* `Clear
------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
