/*************************************************************

    ClinicianSites CSS Stylesheet
    Copyright © 2010, All Rights Reserved
    By HelloMedical ////////

*************************************************************/

/*************************************************************

    Page Style ////////

*************************************************************/
* {                margin: 0; padding: 0; }
html, body {          height: 100%; }
body {              width: 100%; overflow: hidden; font-family: "Tahoma", Arial; }

img {              vertical-align: middle; }


/*********************************
    Text
*********************************/
h1, h2 {            text-transform: uppercase; }
h1 {              color: #7FCC16; font-size: 55px; margin-top: 150px; }
h2 {              color: #FFFFFF; font-size: 30px; margin-bottom: 30px; }

p {                color: #FFFFFF; font-size: 14px; line-height: 25px; margin-bottom: 30px; }

a {                color: #7FCC16; font-weight: bold; }
a:hover {            color: #AEF74D; }




/*************************************************************

    Content ////////

*************************************************************/
/*********************************
    00. Global
*********************************/
#wrapper {            position: absolute; left: 0; top: 0; width: 100%; height: 100%; min-width: 1000px; 
                overflow: auto; z-index: 50; display: block; }
                
#mainWrapper {          position: relative; width: 480px; margin: 0 auto; padding-right: 500px; }

a.download {          float: left; width: 200px; height: 41px; text-indent: -9999px;
                background-image: url("../img/btnDownload.png"); background-repeat: no-repeat; }
a.download:hover {        margin-top: 1px; background-position: 0 -50px; }


  /*********************************
      FeatureBG
  *********************************/
  #featureBG {          position: absolute; left: 0px; top: 0px; z-index: -1; }
  #featureBG, 
  #featureBG table, 
  #featureBG td {          height: 100%; width: 100%; overflow: hidden; }
  #featureBG div {        position: absolute; width: 200%; height: 200%; left: -50%; top: -50%; }
  #featureBG td {          text-align: center; vertical-align: middle; }
  #featureBG img {        min-width: 50%; min-height: 50%; margin: 0 auto; }



/************************************************************/