article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block;
}

audio[controls], canvas, video {
	display:inline-block;
	*display:inline;
	*zoom:1;
}

html {
	font-size:100%;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body {
	margin:0;
	font-size:13px;
	line-height:1.231;
}

body, button, input, select, textarea {
	font-family:sans-serif;
	color:#222;
}

a {
	color:#3482a2;
}

a:visited {
	color:#551a8b;
}

a:focus {
	outline:thin dotted;
}

a:hover, a:active {
	outline:0;
}

abbr[title] {
	border-bottom:1px dotted;
}

b, strong {
	font-weight:bold;
}

blockquote {
	margin:1em 40px;
}

dfn {
	font-style:italic;
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

ins {
	background:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background:#ff0;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

pre, code, kbd, samp {
	font-family:monospace, monospace;
	_font-family:'courier new', monospace;
	font-size:1em;
}

pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}

q {
	quotes:none;
}

q:before, q:after {
	content:"";
	content:none;
}

small {
	font-size:85%;
}

sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sup {
	top:-0.5em;
}

sub {
	bottom:-0.25em;
}

ul, ol {
	margin:1em 0;
	padding:0 0 0 40px;
}

dd {
	margin:0 0 0 40px;
}

nav ul, nav ol {
	list-style:none;
	margin:0;
	padding:0;
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
}

svg:not(:root) {
	overflow:hidden;
}

figure {
	margin:0;
}

form {
	margin:0;
}

fieldset {
	border:0;
	margin:0;
	padding:0;
}

legend {
	border:0;
	*margin-left:-7px;
	padding:0;
}

button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}

button, input {
	line-height:normal;
	*overflow:visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing:border-box;
}

input[type="search"] {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0;
}

textarea {
	overflow:auto;
	vertical-align:top;
}

input:invalid, textarea:invalid {
	background-color:#f0dddd;
}

.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	zoom:1;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	margin:0;
	padding:0;
}

.container {
	margin:0 auto;
	width:1020px;
}

.grid {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
}

.alpha {
	margin-left:0!important;
}

.omega {
	margin-right:0!important;
}

.grid_1 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:69px;
}

.grid_2 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:154px;
}

.grid_3 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:239px;
}

.grid_4 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:324px;
}

.grid_5 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:409px;
}

.grid_6 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:494px;
}

.grid_7 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:579px;
}

.grid_8 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:664px;
}

.grid_9 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:749px;
}

.grid_10 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:834px;
}

.grid_11 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:919px;
}

.grid_12 {
	display:inline;
	float:left;
	position:relative;
	margin-left:8px;
	margin-right:8px;
	width:1004px;
}

.prefix_1 {
	padding-left:85px;
}

.prefix_2 {
	padding-left:170px;
}

.prefix_3 {
	padding-left:255px;
}

.prefix_4 {
	padding-left:340px;
}

.prefix_5 {
	padding-left:425px;
}

.prefix_6 {
	padding-left:510px;
}

.prefix_7 {
	padding-left:595px;
}

.prefix_8 {
	padding-left:680px;
}

.prefix_9 {
	padding-left:765px;
}

.prefix_10 {
	padding-left:850px;
}

.prefix_11 {
	padding-left:935px;
}

.suffix_1 {
	padding-right:85px;
}

.suffix_2 {
	padding-right:170px;
}

.suffix_3 {
	padding-right:255px;
}

.suffix_4 {
	padding-right:340px;
}

.suffix_5 {
	padding-right:425px;
}

.suffix_6 {
	padding-right:510px;
}

.suffix_7 {
	padding-right:595px;
}

.suffix_8 {
	padding-right:680px;
}

.suffix_9 {
	padding-right:765px;
}

.suffix_10 {
	padding-right:850px;
}

.suffix_11 {
	padding-right:935px;
}

.push_1 {
	left:85px;
}

.push_2 {
	left:170px;
}

.push_3 {
	left:255px;
}

.push_4 {
	left:340px;
}

.push_5 {
	left:425px;
}

.push_6 {
	left:510px;
}

.push_7 {
	left:595px;
}

.push_8 {
	left:680px;
}

.push_9 {
	left:765px;
}

.push_10 {
	left:850px;
}

.push_11 {
	left:935px;
}

.pull_1 {
	left:-85px;
}

.pull_2 {
	left:-170px;
}

.pull_3 {
	left:-255px;
}

.pull_4 {
	left:-340px;
}

.pull_5 {
	left:-425px;
}

.pull_6 {
	left:-510px;
}

.pull_7 {
	left:-595px;
}

.pull_8 {
	left:-680px;
}

.pull_9 {
	left:-765px;
}

.pull_10 {
	left:-850px;
}

.pull_11 {
	left:-935px;
}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.bluegradientbg {
	background:#409bc2;
	background:-moz-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #409bc2), color-stop(100%, #2681a8));
	background:-webkit-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:-o-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:-ms-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:linear-gradient(top, #409bc2 0, #2681a8 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#409bc2', endColorstr='#2681a8', GradientType=0);
}





body {
	background:url(../img/bg_site.jpg) center top repeat fixed;
}

div.sitewidth {
	width:1010px;
	margin:0 auto;
}

div#header {
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-bottom-left-radius:0;
	background:#409bc2;
	background:-moz-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #409bc2), color-stop(100%, #2681a8));
	background:-webkit-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:-o-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:-ms-linear-gradient(top, #409bc2 0, #2681a8 100%);
	background:linear-gradient(top, #409bc2 0, #2681a8 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#409bc2', endColorstr='#2681a8', GradientType=0);
	height:130px;
	margin-top:11px;
}

div.shadowwrapper {
	-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	width:1010px;
	margin:0 auto;
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	
	
}

.headerlogowrapper {
	float:left;
	width:206px;
	padding-top:20px;
	background:url('bg_header-divider.gif') top right repeat-y;
	height:110px;
}

.headerlogowrapper img {
	margin:0 0 0 29px;
	width:145px;
}

#headercopy {
	font:18px/26px "ronnia", san-serif;
	color:#fff;
	font-weight:300;
	font-style:italic;
	width:283px;
	float:left;
	padding-top:36px;
	margin-left:30px;
}

a.makeappointment {
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	box-shadow:0 0 1px rgba(0, 0, 0, 0.75), inset 0 0 1px rgba(255, 255, 255, 0.5);
	display:block;
	width:210px;
	height:16px;
	color:#fff;
	font:20px/20px "urbana", san-serif;
	float:right;
	margin:40px 30px 0 0;
	padding:18px 0 18px 23px;
	font-weight:300;
	background:#49a6cc;
	background:-moz-linear-gradient(top, #49a6cc 0, #2b87ae 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #49a6cc), color-stop(100%, #2b87ae));
	background:-webkit-linear-gradient(top, #49a6cc 0, #2b87ae 100%);
	background:-o-linear-gradient(top, #49a6cc 0, #2b87ae 100%);
	background:-ms-linear-gradient(top, #49a6cc 0, #2b87ae 100%);
	background:linear-gradient(top, #49a6cc 0, #2b87ae 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#49a6cc', endColorstr='#2b87ae', GradientType=0);
	box-shadow:0 0 1px rgba(0, 0, 0, 0.75), inset 0 0 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.75), inset 0 0 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.75), inset 0 0 1px rgba(255, 255, 255, 0.5);
	text-decoration:none;
}

a.makeappointment img {
	margin-left:14px;
}

div#mainnav {
	background-color:#fff;
	height:56px;
	border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-top-left-radius:0;
	border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	-moz-border-top-right-radius:0;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
}

div#mainnav ul {
	margin:0 0 0 20px;
	padding:0;
	list-style-type:none;
}

#mainnav ul li {
	float:left;
	height:56px;
}

#mainnav ul li a {
	color:#555;
	font:300 19px/56px "urbana", san-serif;
	text-decoration:none;
	padding:0 15px;
}

#mainnav ul li a.active {
	background:url('icon_blue-arrow-right.png') 0 4px no-repeat;
	color:#3482a2;
}

div#homepagebanner {
	border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-top-left-radius:0;
	border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	-moz-border-top-right-radius:0;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	position:relative;
	top:-5px;
	z-index:-1;
	height:545px;
	margin-bottom:15px;
}

#homepagebanner img {
	border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-top-left-radius:0;
	border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	-moz-border-top-right-radius:0;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	margin-top:5px;
}

.homepanelwrapper {
	margin:0 auto 20px!important;
}

div.homepanel {
	width:300px;
	padding:12px;
	background-color:#fff;
	float:left;
	margin-right:19px;
	height:426px;
}

.homepanel .h3 {
	color:#3482a2;
	font:200 24px/30px "urbana", san-serif;
	margin-top:18px;
}

.homepanel ul {
	margin:0;
	padding:0;
	list-style-image:url(icon_li-blue.png);
	padding:0 0 0 13px;
	margin:13px 0;
	color:#555;
}

.homepanel ul li {
	line-height:20px;
}

.homepanel .homepanelinner {
	padding:0 7px;
	position:relative;
	height:216px;
}

a.more {
	font:14px "urbana", san-serif;
	background-color:#d6d6d6;
	border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	padding:9px 0;
	text-decoration:none;
	color:#4e4e4e;
	margin-top:20px;
	width:100px;
	display:block;
	text-align:center;
}

.homepanelinner a.more {
	position:absolute;
	left:5px;
	bottom:15px;
}

div.last {
	margin-right:0;
}

div.content {
	background-color:#efefef;
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	margin:13px auto;
	-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	font-family:Arial, Helvetica, sans-serif;
}

.content div#contentfull {
	background-color:#fff;
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	width:930px;
	padding:36px 40px 36px;
}

.content div#contentmain {
	background-color:#fff;
	width:570px;
	float:left;
	padding:36px 40px 8px;
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	-moz-border-top-right-radius:0;
	border-bottom-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-bottom-right-radius:0;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
}

.content div#contentbar {
	background-color:#efefef;
	width:360px;
	float:left;
	border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-top-left-radius:0;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-bottom-left-radius:0;
}

.content .h1 {
	color:#3482a2;
	font:28px/20px "urbana", san-serif;
	display:block;
	border-bottom:1px solid #c5c5c5;
	padding:0 0 20px;
	margin:0 0 20px;
}

.content .h2 {
	color:#555;
	font:20px/20px "urbana", san-serif;
	display:block;
}

.content p {
	color:#555;
	font:13px/20px Arial, Helvetica, sans-serif;
}

.content a.totop {
	color:#3482a2;
	font:12px/42px Arial, Helvetica, sans-serif;
	display:block;
	border-top:1px solid #c5c5c5;
	text-decoration:none;
	margin-top:20px;
}

.content ul {
	list-style-image:url(/img/icon_li-gray.png);
	color:#555;
	font:13/20px Arial, Helvetica, sans-serif;
	padding-left:30px;
}

#contentbar .contentbarbox {
	padding:36px 20px 36px 40px;
	width:300px;
	border-bottom:1px solid #d6d6d6;
}

.contentbarbox p {
	color:#555;
	font:13px/20px Arial, Helvetica, sans-serif;
}

div#contentbar .submenu {
	background-color:#3482a2;
	color:#fff;
	border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-top-left-radius:0;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-bottom-left-radius:0;
}

.submenu .h3 {
	color:#fff;
	font:200 24px/30px "urbana", san-serif;
}

.submenu ul {
	list-style-image:url(/img/icon_li-white.png);
	margin:0;
	padding:0 0 0 15px;
}

.submenu ul li {
	margin:11px 0;
}

.submenu li a {
	color:#fff;
	font:13px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
}

div.drspotlight h3.doctorname {
	color:#3482a2;
	font:200 24px/30px "urbana", san-serif;
}

div.testimonial h3.testimonial {
	color:#3482a2;
	font:200 24px/30px "urbana", san-serif;
}

.testimonial span {
	color:#3482a2;
	font:italic 15px/22px Arial, Helvetica, sans-serif;
	margin-top:15px;
	display:block;
}

div#contentfull div#contactleft {
	width:305px;
	padding-right:80px;
	border-right:1px solid #d6d6d6;
	float:left;
}

div#contentfull div#contactright {
	float:left;
	padding-left:40px;
	width:500px;
}

#contentfull h1.h1 {
	border:0;
	padding:0;
}

div.grayfeature {
	border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	background-color:#f4f1ec;
	color:#555;
	padding:14px;
	font-size:15px;
	line-height:26px;
	margin-bottom:25px;
	display:block;
}

div.grayfeature a {
	color:#555;
	text-decoration:none;
}

#contactleft form#contact-form {
	margin-top:25px;
}

div.referalform input, #contactleft input, #contactleft input, #contactleft textarea {
	border:1px solid #555;
	border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	width:293px;
	padding:5px;
	margin-bottom:8px;
	color:#555;
	font-size:12px;
}


div.referalform input.more, #contactleft input.more {
	font:14px "urbana", san-serif;
	background-color:#d6d6d6;
	border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	padding:9px 0;
	text-decoration:none;
	color:#4e4e4e;
	margin-top:10px;
	width:100px;
	display:block;
	text-align:center;
	border:0;
}

div.referalform input.more:hover, #contactleft input.more:hover {
	font:14px "urbana", san-serif;
	background-color:#4e4e4e;
	border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	padding:9px 0;
	text-decoration:none;
	color:#d6d6d6;
	margin-top:10px;
	width:100px;
	display:block;
	text-align:center;
	border:0;
}

div#footerpanel {
	-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	height:87px;
	background-color:#fff;
	margin:0 auto 13px;
}

.download_info {
	width:350px;
	border-right: 1px solid #D6D6D6;
}

div.download_btn {
width:112px;
height:112px;
float:right;
margin: 0px 0px 10px 0px;

}

div.download_btn a{
width:112px;
height:112px;
background:url(download.gif);
display: block;
text-indent:-9999px;
outline:none;
background-position:0 0;
}

div.download_btn a:hover{background-position:0 -112px }

/*Sideshow*/
div.sliderBox {
  overflow: hidden;
  width: 1010px;
}
div.sliderBox div.container {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div.panel {
  position: relative;
  height: 545px;
  float: left;
}
div.panel img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
div.carousel-item-content {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 20px 10px;
  background-color:#ffffff;
  height:80px;
  width:990px;
  text-align: center;
  z-index: 100000;
}
div.carousel-item-content .h1 {
	font:300 24px  "urbana", san-serif;
  color: #3b97bd;margin:0px;
  margin:5px;
  }
div.carousel-item-content span {
  font:100 19px/22px  "urbana", san-serif;
  color: #555555;
  margin:0px;
}
div.carousel-item-content span a {
  color: #3b97bd;
	font:200 19px/22px  "urbana", san-serif;
	margin:0px;
	text-decoration:none;
	}
	div.carousel-item-content span a:hover {
	  color: #555555;
		font:200 19px/22px  "urbana", san-serif;
		margin:0px;
		text-decoration:underline;
		}
div#carousel-pagination {
margin: 0 auto;
  width: 1010px;
  height: 29px;
  padding-top: 10px;
  text-align: center;
}
div#sliderBoxControls a.sliderLink {
  display: inline-block;
  width: 14px;
  height: 15px;
  background: url(/img/icon_selector.png) 0px 0px no-repeat;
  text-indent: -9999px;
  margin-right: 8px;
  z-index: 10000;
}
div#sliderBoxControls a.selected {
  background-image: url(/img/icon_selector-active.png);
}
div#sliderBoxControls a:last-child {
  margin-right: 0px;
}



#footerpanel ul {
	list-style-type:none;
	margin:0 0 0 15px;
	padding:0;
	height:87px;
	width:500px;
	float:left;
}

#footerpanel ul li {
	float:left;
	height:87px;
	padding:0 15px;
}

#footerpanel ul.sociallinks {
	float:right;
	width:150px;
	margin-right:15px;
}

#footerpanel ul.sociallinks li {
	padding:0 3px;
}

#footersublinks {
	padding-bottom:20px;
}

#footersublinks span {
	font:12px/22px Arial, Helvetica, sans-serif;
	color:#939393;
	float:left;
	margin:0 15px;
}

#footersublinks span a {
	font:12px/22px Arial, Helvetica, sans-serif;
	color:#939393;
	text-decoration:none;
}

#footersublinks span.hellomedical {
	float:right;
}

.ir {
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background-repeat:no-repeat;
	text-align:left;
	direction:ltr;
}

.ir br {
	display:none;
}

.hidden {
	display:none;
	visibility:hidden;
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}

.invisible {
	visibility:hidden;
}

@media print {
	a, a:visited {
	color:#444!important;
	text-decoration:underline;
}

a[href]:after {
	content:" (" attr(href) ")";
}

abbr[title]:after {
	content:" (" attr(title) ")";
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content:"";
}

pre, blockquote {
	border:1px solid #999;
	page-break-inside:avoid;
}

thead {
	display:table-header-group;
}

tr, img {
	page-break-inside:avoid;
}

img {
	max-width:100%!important;
}

@page {
	margin:.5cm;
}

p, h2, h3 {
	orphans:3;
	widows:3;
}

h2, h3 {
	page-break-after:avoid;
}
