---
layout: default
title: About our Vein Removal Clinic Melbourne
menuItemId: about
Description: Our vein removal clinic in Melbourne offers state-of-the-art techniques for the diagnosis and treatment of vein disease - Minimally invasive & without any downtime.
---
 
 </div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        		<a name="top"></a><h1 class="h1">About our Vein Removal Clinic</h1>

<p>
	<h2 class="h2">Dr Ivor Berman (MBChB,FRANZCR,FACP) is a Phlebologist and Radiologist.</h2></p><img src="/img/DrBerman.jpg" align=right>
<ul>
	<li>
		<em>Fellow of the Australasian College of Phlebology </em></li>
	<li>
		<em>Fellow of the Royal Australasian and New Zealand College of Radiology</em></li>
</ul>

<p>
	Specialist Vein Care Melbourne provides state of the art techniques in its clinic for the diagnosis and treatment of vein disease, such as Varicose Veins and Spider Veins.</p>
<p>
	These vein removal procedures are:</p>
<ul>
	<li>
		Minimally invasive</li>
	<li>
		Extremely effective</li>
	<li>
		Little or no pain</li>
	<li>
		Minimal risk</li>
	<li>
		Without downtime</li>
</ul>
<p>
	This is an effective alternative to the traditional surgical methods of vein ligation and stripping which is performed under general anaesthetic in any Melbourne hospital or clinic.</p>
<p>
	Determination of the best vein removal treatment option, the type of treatment performed and the treatment outcome are heavily dependant upon the accuracy of the Duplex ultrasound examination and findings.</p>
<p>
	This practice thus incorporates a Vascular Laboratory: <em>Independent Vascular Ultrasound</em>. This combines the use of the very best ultrasound machines together with extremely experienced dedicated vascular sonographers. These sonographers have worked for years performing dedicated venous and arterial scans.</p>
<p>
	In addition they have worked for years in a phlebology environment and thus have a deep understanding of what is required for selecting the best treatment option.</p>
<p>
	At this stage we will be limiting ourselves to venous diagnostic and therapeutic scans only.<br />
	<br />
	 </p>
<h2 class="h2">Dr Berman – Abridged Curriculum Vitae<br />
	 </h2>
<p>
	<em><strong>Qualifications </strong></em></p>

<ol>
	<li>
		Graduated from Medical School 1988 (MBChB)</li>
	<li>
		Phlebologist: Fellow of the Australasian College of Phlebology (FACP)</li>
	<li>
		Radiologist: Fellow of the Royal Australian and New Zealand College of Radiologists     (FRANZCR)</li>
	<li>
		Master of Medicine (Radiology) – Examination component<br />
		 </li>
</ol>

<p>
	<em><strong>Memberships</strong></em></p>
<ol>
	<li>
		Australasian College of Phlebology</li>
	<li>
		American College of Phlebology</li>
	<li>
		Royal Australian and New Zealand College of Radiologists</li>
	<li>
		Australasian Society of Cosmetic Medicine</li>
	<li>
		Interventional Radiology Society of Australasia<br />
		<br />
		 </li>
</ol>
<p>
	<em><strong>Roles in Phlebology</strong></em></p>
<ol>
	<li>
		Board member Australasian College of Phlebology</li>
	<li>
		Committee Member Victorian Branch Australasian College of Phlebology</li>
	<li>
		Examiner/Censor for second part Phlebology Examinations - Australasian College of Phlebology<br />
		 </li>
</ol>
<p>
	<strong><em>Roles in Radiology</em></strong></p>
<ol>
	<li>
		Examiner/Censor for second part Radiology Exams - Royal Australian and New Zealand College of Radiologists</li>
	<li>
		Training Program Assessments Committee for Royal Australian and New Zealand College of Radiologists</li>
	<li>
		Associate Editor Journal of Medical Imaging and Radiation Oncology (JMIRO).</li>
	<li>
		Head of Unit and Director of the Radiology Departrment,  Casey Hospital</li>
	<li>
		Senior Staff Member Radiology Southern Health incl. Monash Medical Centre, Dandenong Hospital and Casey Hospital</li>
	<li>
		Victorian Branch Committee for Royal Australasian and New Zealand College of Radiology</li>
	<li>
		MPRC – Committee member of Medicare Participation Review Committee.</li>
</ol>

            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>