---
layout: default
title: Ambulatory Phlebectomy and Vein Ligation
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
       	<a name="top"></a><h1 class="h1">Treatment and Services</h1>
           <h2 class="h2">Ambulatory Phlebectomy and Vein Ligation</h2>
          	<p>Ambulatory Phlebectomy (AP) is a surgical procedure allowing outpatient removal of visible veins. Essentially almost all sizes of veins can be treated with this method.</p>
		<p>Originally described by Cornelius Selsus (56 BC – 30 AD)!</p>
		<p>Method: the skin is infiltrated by local anaesthetic; a 1-2mm incision is made. A specially designed Phlebectomy hook is utilised to grasp the vein, which is then extracted through the small incision. Part or whole of the varicose vein is extracted. Sometimes the vein will be ligated with suture material with the vein being left in situ. Sometimes several of these small incisions need to be made. There is minimal bleeding which is controlled by local pressure.</p>
		<p>Complementary methods of venous treatment, including foam injection sclerotherapy and endovenous laser ablation sclerotherapy may be performed at the same time if necessary. The incisions are either left open or are closed by using steri-strips, which are small “band-aids”. Both legs may be treated at the one session. This may depend of various factors; including patient’s wish, the extent and type of venous disease. If follow up therapy is needed, this would usually be performed two to four weeks later.</p>
		<p><a class="totop" href="#top">Back to top</a>
		  <br />
		</p>
		<p><strong><em>What should you do after phlebectomy / vein ligation?</em></strong><br />
		You may be asked to go for a 30-40 minute walk immediately after treatment. If extensive Phlebectomy has been performed then you may be asked to return home and rest, and start your 30-40min walks the next day. <u>It is essential that you arrange for someone to drive you home</u>. Keep the leg elevated as much as possible for the first 24 hours and walk for 30-40 minutes each day for 2 weeks. Maintain normal daytime activities and avoid standing still for long periods. Avoid strenuous physical activity such as aerobics for three to four weeks after treatment since this increases the risk of blood flow returning into the treated veins.</p>
		<p>You are required to avoid any flights of 2-4 hours duration for 2 weeks and any flights of greater than 4 hours duration for 6 weeks after treatment. If travel is unavoidable, then the flight should be covered by subcutaneous Clexane for anticoagulation given before departure and daily for about 5 days after arrival.</p>
		<p>A bandage and stockings are worn continuously for three days. Stockings are then worn continuously for 4 days. Stockings are then worn through the day, removing them at night and replacing them in the morning after the shower for another 7 days. It is routine practice to perform a check ultrasound scan 1 week after treatment to ensure that the treated vein is occluded and to exclude the very small risk of DVT. If follow up therapy is necessary to treat residual veins, this is performed about 2-4 weeks later.<br />
		  <br />
		</p>
		<p><strong><em>What can you expect following phlebectomy / vein ligation?</em></strong><br />
		The following features are expected. They are not a cause for concern although they should be reported at review:</p>
		<ul>
		    <li><span class="bodybold">Mild pain/discomfort</span> may persist for several days. Usually there is minimal discomfort. Soreness can occur behind the knee from rubbing by the bandage or stocking.</li>
		    <li><span class="bodybold">Discolouration and tender lumps</span> are usual early on. Red raised areas over treated veins is due to “trapped blood”. This usually disappears within four to six weeks. At the 2 week review these areas may be pricked to release this trapped blood. This is a normal event that occurs as part of treatment. It does not occur in every patient but is common. It is a sign that treatment has been successful.<strong> </strong></li>
		</ul>
		<p><a class="totop" href="#top">Back to top</a>
		  <br />
		</a></p>
		<p><strong><em>What are the possible complications from phlebectomy / vein ligation? </em></strong></p>
		<p>Complications can occur even with perfect technique.</p>
		<ul>
		    <li><strong>Post operative bleeding from puncture site </strong>( common but minor)</li>
		    <li><strong>Haematoma</strong></li>
		    <li><strong>Deep vein thrombosis (DVT) </strong><br />
		    Blood clot extending into the deep veins can occur. The risk is less than 1:2000 compared to the background risk of about 1:9000. This potentially serious complication is very uncommon if the protocol of compression and regular daily walking is followed.<br />
		    Although DVT post procedure is most uncommon, we at Specialist Vein Care perform Duplex scans routinely on all patients post Sclerotherapy/Endovenous Laser Ablation therapy to exclude this complication.</li>
		    <li><strong>Wound infection</strong></li>
		    <li><strong>Lymphatic Disruption</strong> Lymphocele( Small lymphatic collections), Lymphorrhea (seeping of lymph through puncture site), lymphoedema</li>
		    <li><span class="bodybold">Pigmentation</span> <br />
		    This relates to the appearance of brown marks near/along a treated vein and is due to haemosiderin, a form of iron from the blood. Most disappear within 3- 12 months but in about 5% of patients, this can persist past 12 months. This is of cosmetic importance only. Persistent pigmentation may respond to laser treatment.</li>
		    <li><span class="bodybold">Nerve injury</span><br />
		    The adjacent sensory nerves can suffer damage-causing numbness. (0.05%). Motor nerves rare.</li>
		    <li><span class="bodybold">Matting</span>  <br />
		    This is the development of a fine network of veins which produces a small bluish blush to the skin surface. This occurs most commonly on the inside of the knee in women. Approximately one third resolve spontaneously (this can take up to 6-9 months), one third can be treated by sclerotherapy and about one third may be permanent. The cause is unknown and is of cosmetic importance only.</li>
		    <li><span class="bodybold">Hypertrophic scars</span></li>
		    <li><strong>Blistering from bandages.</strong> </li>
		</ul>
           <a class="totop" href="#top">Back to top</a>
       </div>
       <div id="contentbar">
       	<div class="submenu contentbarbox">
           	<h3 class="h3">Click a link below to read</h3>
			<ul>
				<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
			    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
			    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
			    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
			    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
			    <li><a href="/support-stockings">Support Stockings</a></li>
			    <li><a href="/pregnancy">Pregnancy</a></li>
			    <li><a href="/feepayment-rebate">Fee Payment</a></li>
			    <li><a href="/disclaimer">Disclaimer</a></li>
			</ul>
                   
           </div>
           <div class="drspotlight contentbarbox">
           	<h3 class="doctorname">Dr Ivor Berman</h3>
               <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
               <a href="/about" class="more">Find out more</a>
           </div>
           <div class="testimonial contentbarbox">
           	<h3 class="testimonial">Gallery and Testimonials</h3>
               <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
               <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
               <a href="/testimonials" class="more">Find out more</a>
           </div>
       </div>
</div>