---
layout: default
title: Conservative Treatment and Other Treatment Options	
---

	</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">Treatment and Services</h1>
<h2 class="h2">Conservative Treatment and Other Treatment Options</h2>
            <h2 class="h2">How does blood normally circulate in the veins?</h2>
            <p><em>General Measures and Compression Stockings</em><br />
			Relief of symptoms may be achieved with self help mechanisms such as exercise, weight loss, elevation of limbs and avoidance of long periods of sitting or standing (Beckman 2002). Compression stockings may be all that is required to alleviate the symptoms of vein disease. Compression bandaging may be required for acute thrombosis or for active ulceration. Usually, the bandage is left in place for one-week intervals until the problem resolves.</p>
			<p><em>Surgery</em></p>
			<p>This is an option for some patients. Either due to extensive large veins or personal choice. At the initial consult Dr Berman would discuss this option and advise whether surgery may well be a better option. Dr Berman works closely with vascular surgeons and if necessary would liase directly with them re a patient’s particular problem.</p>
			<p>Surgery in most cases involves ligation performed in conjunction with stripping of the great saphenous vein. Stripping is not regularly performed for the small saphenous vein due the fear of nerve damage. Stripping below the knee is now generally not performed due to the risk of damage to the saphenous nerve. Surgery has a greater risk compared to the non-surgical treatment of vein disease including: Deep vein thrombosis, scarring, infection, lymphatic drainage damage and varicose vein recurrence.</p>
			<p><em>Laser Treatment </em></p>
			<p>At this stage laser therapy for spider veins of the legs is not particularly effective.</p>
            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>