---
layout: default
title: contact	
menuItemId: contact
---

	</div>
		<div class="sitewidth content clearfix">
			<div id="contentfull" class="clearfix">
				<div id="contactleft">
				<h1 class="h1">Contact:</h2>
					<div class="grayfeature">
						<strong>Email:</strong> <a href="mailto:ivor.berman@specialistveincare.com.au">ivor.berman@specialistveincare.com.au</a><br>
						<strong>Phone:</strong> 03 9561 5155<br>
						<strong>Fax:</strong> 03 9802 1313
					</div>

						
		
				</div>
				
				<div id="contactright">
				<h1 class="h1">Locate Us:</h2>
					<div class="grayfeature" style="width:200px;">
						<strong>Address:</strong><br>
						258 Springvale Road<br>
						Glen Waverley, Melbourne Victoria 3150
					</div>
					<iframe width="500" height="298" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&source=s_q&hl=en&geocode=&q=258+Springvale+Road,+Glen+Waverley,+Victoria&aq=0&oq=258+Springvale+Road,+&sll=-25.335448,135.745076&sspn=69.052053,135.263672&ie=UTF8&hq=&hnear=258+Springvale+Rd,+Glen+Waverley+Victoria+3150&t=m&ll=-37.877563,145.163126&spn=0.023712,0.036478&z=14&output=embed"></iframe>
				</div>
			</div>
		</div>