---
layout: default
title: ebook
---

</div>
		<div class="sitewidth content clearfix">
			<div id="contentfull" class="clearfix">
				<div id="contactleft">
				<h1 class="h1">Download</h2>
					
				<p>
					If you would like to download this informative booklet about the treatment of varicose disease simply click below.
				</p>

	<a href="/downloads/svc_ebook.pdf"><img src="/img/downloadinactive.gif" width="112" height="112"></a>

		
				</div>

				<div id="contactright">
				
				
				<h1 class="h1">Specialist Vein Care E - Book</h2>				
				<p>Included is information on varicose vein disease, a comparison of treatment options, estimates of costs and contact details for finding out more.</p>
				
					<img src="/img/jogger.jpg" width="501" height="308">
				</div>
			</div>
		</div>