---
layout: default
title: Endovenous Laser Ablation Vein Treatment
description: Avoiding varicose vein surgery with Endovenous Laser treatment - involving just a puncture, we treat small to large veins. Detailed procedure available on our site.
---

</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">Endovenous Laser Ablation Vein Treatment</h1>
            <h2 class="h2"><a name="EVLA" id="EVLA"></a>Endovenous Laser Ablation (EVLA)</h2>
			<p>Endovenous laser therapy for major saphenous reflux has been in use since about 2000-2001 having shown better results than varicose vein surgery.</p>
			<p>This is predominantly used to treat large Great and Small saphenous veins, previously treated by surgical ligation and stripping in hospital under general anaesthetic. Under local anaesthetic a small skin puncture is made with the laser probe thereafter being passed up the vein under ultrasound guidance. The vein is then surrounded by a column of anaesthetic. The laser fibre is activated and slowly withdrawn destroying the vein.</p>
			<p>If necessary Ambulatory Phlebectomy and Ultrasound Guided Sclerotherapy would be performed in the same session. If there are residual incompetent varicosities that require further treatment, this will usually be performed about 2 weeks later.</p>
			<p><br />
			<strong><em>What are the advantages and disadvantages for EVLA? </em></strong></p>
			<p>ELVA is very effective in treating larger veins, especially those larger than 5mm. This is usually performed on veins such as the Great and Small Saphenous Veins and the Anterior Accessory Vein. Unlike varicose vein surgery, this does not require admission to hospital or anaesthesia. does not require admission to hospital or anaesthesia. There is usually no need to take time off work and one is able to continue with ones day to day activities. The Small Saphenous Vein often responds better to EVLA than to Sclerotherapy. The cost for Laser treatment is often greater than that for Sclerotherapy alone.</p>
			<p>            <a class="totop" href="#top">Back to top</a></p>
			<p> </p>
			<p><strong><em>What should you do before EVLA? </em></strong></p>
			<p>Do not apply moisturiser to your legs on the day of treatment. Wear loose fitting clothing and sandals or loose shoes to allow for the thickness of the stockings.</p>
			<p> </p>
			<p><strong><em>What happens during EVLA? </em></strong></p>
			<p>You will lie down on a treatment bed and will be given a subcutaneous injection of the anticoagulant drug Clexane. You will be draped as per a surgical procedure. Just before the procedure, a Sonographer performs a limited scan of the leg similar to the initial screening scan to familiarise us with the veins. The vein is punctured through an anaesthetised site around the knee for the great saphenous vein and the calf for the small saphenous vein. A wire is passed up the vein, a 20-45cm long fine tube is passed over the wire, the wire withdrawn and the laser probe introduced through the tube. Local anaesthetic is infiltrated around the vein at several levels directed by ultrasound using extremely fine needles.</p>
			<p>The laser tip is precisely positioned just below the end of the vein at the groin for the great saphenous vein and the knee for the small saphenous vein using ultrasound guidance. The probe is activated and slowly withdrawn destroying the vein. The procedure involves minimal discomfort. Often thereafter Ultrasound Guided Sclerotherapy and/or Ambulatory Phlebectomy will be performed to treat the remainder of the diseased veins in the leg.</p>
			<p>After completion a bandage and stocking will be applied to each treated leg.</p>
			<p>            <a class="totop" href="#top">Back to top</a></p>
			<p> </p>
			<p><strong><em>What should you do after EVLA?</em></strong><em> </em></p>
			<p>You will be asked to go for a 30-40 minute walk immediately after treatment. It is essential that you arrange for someone to drive you home. Walk or keep the leg elevated as much as possible for the first 24 hours and walk for 30-40 minutes each day for 2 weeks. Maintain normal daytime activities and avoid standing still for long periods. <br />
			<br />
			Avoid strenuous physical activity such as aerobics for 48 hours after treatment since this increases the risk of blood flow returning into the treated veins. <br />
			You are required to avoid any flights of 2-4 hours duration for 2 weeks and any flights of greater than 4 hours duration for 6 weeks after treatment. If travel is unavoidable, then the flight should be covered by subcutaneous Clexane for anticoagulation given before departure and daily for 5 days after arrival.</p>
			<p>A bandage and stockings are worn continuously for 48 hours. Stockings are then worn through the day, removing them at night and replacing them in the morning after the shower for another 12 days. It is routine practice to perform a check ultrasound scan 1 week after treatment to ensure that the treated vein is occluded and to exclude the very small risk of DVT. Some patients will require follow up treatment of residual varicosities by Ultrasound guided Sclerotherapy, which would be performed about 2-4 weeks later.</p>
			<p> </p>
			<p><strong><em>What can you expect following EVLA? </em></strong></p>
			<p>The following features are expected:</p>
			<ul>
			    <li><span class="bodybold">Bruising</span> down the length of the treated vein is almost invariable and shows that the vein has been destroyed to the point where it has disintegrated in parts. This can be slight or quite extensive</li>
			    <li><span class="bodybold">Mild discomfort</span> invariably occurs commencing a day or two after treatment. Aching in the leg persists for up to two weeks and shows that the procedure is working. Pain is usually improved by walking or by Paracetomol or Ibuprofen. Soreness behind the knee can result from rubbing by the bandage or stocking</li>
			    <li><span class="bodybold">Discolouration</span> is usual early on and is not a cause for concern</li>
			    <li><span class="bodybold">Trapped Blood</span>: Red, raised areas that can be tender and uncomfortable can develop over treated veins but these usually disappear within two to three weeks</li>
			    <li><span class="bodybold">Phlebitis or inflammation</span> of the treated veins can occur. It is treated by further compression, anti-inflammatories and regular walking</li>
			</ul>
			<p>            <a class="totop" href="#top">Back to top</a></p>
			<p> </p>
			<p><strong><em>What are the possible complications from EVLA? </em></strong></p>
			<p>Adverse reactions for EVLA do not differ much from those for UGS. Complications can occur even with perfect technique.</p>
			<p>These include:</p>
			<ul>
			    <li><span class="bodybold">Deep vein thrombosis (DVT)</span><br />
			    Blood clot extending into the deep veins can occur. The risk is less than 1:2000 compared to the background risk of about 1:9000. This potentially serious complication is very uncommon if the protocol of compression and regular daily walking is followed.Although DVT post procedure is most uncommon, we at Specialist Vein Care perform Duplex scans routinely on all patients post Sclerotherapy/ Endovenous Laser Ablation therapy to exclude this complication.</li>
			    <li><span class="bodybold">Allergic reaction</span> <br />
			    Allergy to the anaesthetic solution can occur. This is rare! It can present immediately as an anaphylactic reaction with generalised rash, itchiness or difficulty with breathing.Our practice is equipped and ready to deal with this circumstance if it arises</li>
			    <li><span class="bodybold">Swelling of the leg or ankle</span> (2:100) <br />
			    This is a temporary phenomenon and is due to inflammation</li>
			    <li><span class="bodybold">Pigmentation</span> (1:10) <br />
			    This relates to the appearance of brown marks near/along a treated vein and is due to haemosiderin, a form of iron from the blood. Most disappear within 3- 12 months but in about 5% of patients, this can persist past 12 months. This is of cosmetic importance only. Persistent pigmentation may respond to laser treatment</li>
			    <li><span class="bodybold">Nerve injury</span> (3:1000) <br />
			    Irritation of surface sensory nerves can occur rarely but will disappear within a few weeks</li>
			</ul>
            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>