---
layout: default
title: faq
---

</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
       	<a name="top"></a><h1 class="h1">Frequently Asked Questions</h1>
           <h2 class="h2">
          	<h2 class="h2">Does the injection procedure hurt?</h2>
		<p>This is not a particularly uncomfortable procedure and is well tolerated. The amount of discomfort will vary with the individual. The needles used are extremely fine (similar to acupuncture needles) and many are hardly felt at all. The injected solution can sting slightly for short periods of time. If EVLA is used or Phlebectomy performed, then minimal discomfort is experienced as these are performed under local anaesthetic.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="interfere" id="interfere"></a>Does the vein treatment interfere with my day to day activities?</h2>
		<p>This is a walk-in, walkout procedure. Most treatments take about 30 minutes to perform; some may take up to an hour. Following treatment you should be able to return to your normal daily routine, essentially immediately.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="nottreat" id="nottreat"></a>What if I do not treat my varicose veins?</h2>
		<p>Vein disease is usually progressive and if left untreated will likely worsen with time. Symptoms that can occur with untreated varicose veins include: Leg fatigue, heaviness, aching, throbbing, restlessness, tingling, itching, numbness and swelling. More serious complications such as phlebitis, blood clots, and dermatitis and vein ulcers can develop if varicose veins are left untreated.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="circulate" id="circulate"></a>Don’t I need these veins and how will blood circulate without them?</h2>
		<p>Blood flow in varicose veins is usually in the wrong direction and impairs the normal circulation. Eliminating/treating these abnormal veins improves the circulation. When veins become abnormal and stop functioning normally our body finds alternative pathways with healthy veins to carry blood back to the heart. This will have occurred by the time you present for treatment. The circulation does not miss varicose veins; in fact it improves without them!</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="venousdisease" id="venousdisease"></a>Can venous disease be prevented?</h2>
		<p>The short answer is no!</p>
		<p>No-one really knows why these veins occur and there is no known way to prevent them from developing.</p>
		<p>Certain people are 'vein-makers'. Wearing Class 1 venous support stockings, maintaining a normal weight and regular exercise may slow down the process.</p>
		<p>Crossing your legs whilst sitting does not cause varicose veins.</p>
		<p>Some patients will over time develop recurrent varicose veins and that is why all types of vein treatment are seen as 'control' and not 'cure'. This may be delayed by wearing graduated Class 1 stockings and by walking but cannot be prevented. If one is followed up post therapy regularly, new venous disease will be picked up early before it is difficult to treat and further treatment will usually be by Ultrasound-guided Sclerotherapy.</p>
		<p>Because of this I suggest review of my patients at 3 months, then at 6 months and then yearly.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="duplex" id="duplex"></a>Why perform the Duplex Ultrasound?</h2>
		<p>Clinical assessment relies on what is visible at the skin surface and cannot determine what is occurring in the leg and what the aetiology of the venous disease is. The ultrasound scan can see inside your leg and determine exactly what the cause is and thereby determine as to what the best treatment protocol will be .This ultrasound scan should be performed by a specialist vascular Sonographer as they are experts in this area. The assessment of venous disease by ultrasound can be extremely difficult and this part of the examination is absolutely critical to the type of treatment offered and the outcome. This examination takes between 15 minutes and an hour depending on the complexity.</p>
		<p>As part of <em>Specialist Vein Care</em>, we have a Vascular Laboratory, <em>Independent Vascular Ultrasound</em>, where dedicated expert vascular sonographers can perform this examination.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2">What is Duplex Utrasound?</h2>
		<p>Duplex ultrasound refers to the combination of looking at the anatomy/structure of the vein together with how blood is flowing inside the vein, all together on one image.<br />
		  <br />
		</p>
		<h2 class="h2"><a name="comeback" id="comeback"></a>Will the treated veins come back?</h2>
		<p>Treated veins do not come back, as the body has absorbed them. All forms of vein therapy is a process of control and not cure; one cannot stop a person from developing new veins. This may occur over time. How quickly and how many appear is impossible to predict.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="lasers" id="lasers"></a>What about topical skin lasers for spider vein treatment?</h2>
		<p>Despite the proven usefulness in the treatment of large varicose veins using Endovenous Laser Ablation, the treatment of leg veins by laser light to the skin has thus far been disappointing. Currently available lasers can be very useful in treating the tiny cosmetic veins facial veins, but have been significantly less effective on leg veins when compared to expert sclerotherapy.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="family" id="family"></a>Should I wait until I have completed my family?</h2>
		<p>If one has existing varicose veins, these tend to become significantly worse as the pregnancy develops. Phlebologists agree that treatment for varicose veins is best performed before or between pregnancies. One should wait for about 3 months post delivery before undertaking vein therapy.</p>
           <a class="totop" href="#top">Back to top</a>
		  <br />
		
		<h2 class="h2"><a name="successful" id="successful"></a>How successful is the therapy?</h2>
		<p>This depends on several factors, including:</p>
		<ol>
		    <li>
		    <p><strong>What types of veins are to be treated</strong><br />
		    <em>Large varicose veins</em><br />
		    Comparative to conventional surgery with overall success rate varies between 80-95.5% Compared to surgery however, patients report better symptom improvement and quality of life with less time to return to work (MSAC 2008). This may take up to 3-6 months to settle completely.<br />
		    <br />
		    <em>Spider Veins</em><br />
		    Most patients can expect at least a 70% improvement in the appearancve of their legs. This may take up to 3 months to show maximum benefit.<br />
		     </p>
		    </li>
		    <li><strong>How bad the venous disease is, patient’s age, other medical conditions, healing rate and adherence to post therapy instructions.</strong></li>
		</ol>
		
		<p>Therapy is usually extremely effective; yet there are a small number of patients who do not respond adequately to therapy. Treatment of venous disease, be it surgical or non surgical, is a therapy of vein control and not cure. The treatment performed is aimed at dealing with the current problem and cannot prevent the development of new venous disease later on. Some patients therefore may well require future treatments.</p>
		<p>Treatment often requires one to two sessions. Very occasionally several may be needed.</p>
           <a class="totop" href="#top">Back to top</a>
		<br />
		
		<h2 class="h2"><a name="complications" id="complications"></a>Are there complications from treatment?</h2>
		<p>A number of possible complications can occur with both Sclerotherapy and Endovenous Laser Ablation. These include:</p>
		<ul>
		    <li><strong>Deep vein thrombosis</strong> (DVT)<br />
		    Clots extending into the deep veins can occur. The risk is less than 1:2000 compared to the background risk of about 1:9000. This potentially serious complication is very uncommon if the protocol of compression and regular daily walking is followed. Although DVT post procedure is most uncommon, we at Specialist Vein Care perform Duplex Ultrasound scans routinely on all patients post Sclerotherapy or Endovenous Laser Ablation therapy to exclude this complication.<br></li>
		    <li><strong>Allergic reaction</strong> to the anaesthetic solution or sclerosant. This is rare! It can present immediately as an anaphylactic reaction with generalised rash, itchiness or difficulty with breathing. Our practice is equipped and ready to deal with this circumstance if it arises.</li>
		    <li><strong>Matting</strong> <br />
		    This is the development of a fine network of veins which produces a small bluish blush to the skin surface. This occurs most commonly on the inside of the knee in women. Approximately one third resolve spontaneously (this can take up to 6-9 months), one third can be treated by sclerotherapy and about one third may be permanent. This can occur after surgery as well. This is not seen with Endovenous Laser Ablation or in men. The cause is unknown and is of cosmetic importance only.<br></li>
		    <li><strong>Swelling of the leg or ankle (2:100) <br />
		    </strong>This is a temporary phenomenon. This is due to inflammation. This will settle over time.<br></li>
		    <li><strong>Pigmentation (1:10) </strong><br />
		    Appearance of brown marks near/along a treated vein. This is due to haemosiderin, a form of iron from the blood. Most disappears within 3- 12 months but in about 5% of patients, this can persist past 12 months. This is of cosmetic importance only. Persistent pigmentation may respond to laser treatment.</li>
		    <li><strong>Skin ulceration</strong> (9:1000) is very uncommon. It occurs because solution has escaped into the surrounding skin or because of an abnormal connection between small veins and arteries. Most ulcers are small and heal over a few weeks leaving a small pale scar. This is not seen with Endovenous Laser Ablation.</li>
		    <li><strong>Intra-arterial injection</strong><br />
		    This is a very rare complication that has been reported but never encountered in our practice. It would result in muscle and skin damage.<br></li>
		    <li><strong>Nerve injury (3:1000) </strong><br />
		    Irritation of surface sensory nerves can occur rarely but will disappear within a few weeks.<br></li>
		</ul>
           <a class="totop" href="#top">Back to top</a>
       </div>
       <div id="contentbar">
       	<div class="submenu contentbarbox">
           	<h3 class="h3">Click a link below to read</h3>
           	<ul>
			          <li><a href="#hurt">Does the  procedure hurt?</a></li>
			          <li><a href="#interfere">Does the vein treatment interfere with my day to day activities? </a></li>
			          <li><a href="#nottreat">What if I do not treat my varicose veins? </a></li>
			          <li><a href="#circulate">Don’t I need these veins and how will blood circulate without them? </a></li>
			          <li><a href="#venousdisease">Can venous disease be prevented and will veins recur?</a></li>
			          <li><a href="#duplex">Why the Duplex Ultrasound?</a></li>
			          <li><a href="#comeback">Will the  veins come back?</a></li>
			          <li><a href="#lasers">What about topical skin lasers for spider vein treatment?</a></li>
			          <li><a href="#family">Should I wait until I have completed my family?</a></li>
			          <li><a href="#successful">How successful is the therapy?</a></li>
			          <li><a href="#complications">Are there complications?</a></li>
               </ul>
                   
           </div>
           <div class="drspotlight contentbarbox">
           	<h3 class="doctorname">Dr Ivor Berman</h3>
               <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
               <a href="/about" class="more">Find out more</a>
           </div>
           <div class="testimonial contentbarbox">
           	<h3 class="testimonial">Gallery and Testimonials</h3>
               <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
               <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
               <a href="/testimonials" class="more">Find out more</a>
           </div>
       </div>
</div>