---
layout: default
title: for doctors
---

</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">For Doctors</h1>
           <ul>
               <li><a href="/referal-form">Click here to order printed referral pads</a><br><br></li>
			       	<li><a href="/downloads/SVC_PhlebologyServicesReferralForm.pdf" target="_blank">Download the Phlebology Service Referal Form</a> (pdf)<br></li><br>
					<li><a href="/downloads/SVC_ARevolutionInVaricoseVeinCare_GP.pdf" target="_blank">Download brochure A Revolution in Varicose Vein Care - GP's</a> (pdf)<br></li><br>
					<li><a href="/downloads/SVC_ARevolutionInVaricoseVeinCare_Patient.pdf" target="_blank">Download  A Revolution in Varicose Vein Care - Patient</a> (pdf)<br></li><br>
					<li><a href="http://www9.health.gov.au/mbs/search.cfm" target="_blank">Click here for HIC updates</a><br></li>
					</ul>
					
					
					
					
					
					
            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>

                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>