---
layout: default
title: 
---
<div class="sitewidth">
			<!--<img src="/img/homebanner.jpg" width="1010" height="545" alt="">-->
			
		
						<div class="sliderBox" controllerid="sliderBoxControls">
							<div class="container">
								<div class="panel">
									<div class="carousel-item-content">
										<h1 class="h1">Welcome to Specialist Vein Care.</h1>
			<span>We are a specialised Vein Care centre providing non-surgical treatment of varicose and spider veins.<br/><a href="/about">Click here for details</a></span></div><!-- end carousel item grid_5 -->
									<img src="/img/svc_slide1.jpg" width="1010" height="546" alt="">
								</div><!-- end panel 1 -->
								
								<div class="panel">
									<div class="carousel-item-content">
										<h1 class="h1">Specialist Vein Care E-Book.</h1>
		<span>Sign up and download the Specialist Vein care informative booklet about the treatment of varicose disease.<br/><a href="/ebook">Click here for details</a></span></div><!-- end carousel item grid_5 -->
									<img src="/img/svc_slide2.jpg" width="1010" height="546" alt="">
								</div><!-- end panel 2 -->
								
							</div><!-- end container -->
						</div><!-- end slider box -->
			
					
					
		</div><!-- end homepage banner -->	
</div><!-- end Shadow wrapper -->

	<div id="carousel-pagination">
		<div id="sliderBoxControls">
		
		</div>
	</div><!-- end pagination -->

<div class="sitewidth clearfix homepanelwrapper clearfix">
		<div class="homepanel shadowwrapper">
			
			<img src="/img/img_homepanel1.jpg" width="300" height="200">
			
			<div class="homepanelinner">
				<h3 class="h3">Services Provided</h3>
				<ul>
					<li>Endovenous Laser Ablation (EVLA)</li>
					<li>Ultrasound Guided Sclerotherapy (UGS)</li>
					<li>Ambulatory Phlebectomy and Vein Ligation</li>
					<li>Microsclerotherapy</li>
					<li>Duplex Ultrasound</li>
				</ul>
<a href="/treatments" class="more">Find out more</a>
			</div>
		</div>
		<div class="homepanel shadowwrapper">
			<img src="/img/img_homepanel2.jpg" width="300" height="200">
			<div class="homepanelinner">
				<h3 class="h3">Testimonials & Gallery</h3>
<ul><li>Having performed hundreds of assessments and procedures around Australia, we prefer to let our customers do the talking.</li></ul>
<a href="/testimonials" class="more">Find out more</a>
			</div>
		</div>
		<div class="homepanel shadowwrapper last">
			<img src="/img/VascularImaging.png" width="300" height="200">
			<div class="homepanelinner">
			<h3 class="h3">Independent Vascular Imaging</h3>
			<ul>
				<li>1. Peripheral venous and arterial</li>
				<li>2. Abdominal</li>	
				<li>3. Cerebrovascular: Carotid arteries.</li>
				<li>4. Arteriovenous grafts and fistulas.</li>
				<li>5. CCSVI: Cerebrospinal venous insufficiency.</li>
			</ul>
<a href="/independent" class="more">Find out more</a>
			</div>
		</div>
	</div>
	
	
	
	<!-- scripts -->
	
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	<script src="<@resourceLink "script.js"/>"></script>