---
layout: default
title: 
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
    	<a name="top"></a><h1 class="h1">Independent Vascular Imaging</h1>
		<h2 class="h2">Independent Vascular Imaging is a specialist vascular ultrasound facility</h2>
		<p>Services include :</p>
		<ol>
		<li>Peripheral venous: Leg and arm veins, Including - Venous incompetency studies, Deep vein thrombosis(DVT)</li>
		<li>Peripheral arterial: Leg and arm arteries.</li>
		<li>Abdominal:  Including  - Aorta (e.g. aneurysm),
		<ul><li>Major arteries to liver, spleen and bowel.</li>
			<li>Kidneys( Renal arteries ? cause for high blood pressure)</li>
		    <li>Portal hypertension.</li>
		    <li>Pelvic congestion syndrome</li>
		</ul></li>
		<li>Cerebrovascular: Carotid arteries.</li>
		<li>Arteriovenous grafts and fistulas (AVG and AVF).</li>
		<li> CCSVI: Cerebrospinal venous insufficiency.</li>
		</ol>
		<p>As part of this service we are able to scan all parts of the body (excluding gynaecological and obstetric scans).Including: Liver, spleen, kidneys, pancreas thyroid, neck, scrotum, musculoskeletal( e.g. shoulder, knee, ankle, foot).</p>
		<h2 class="h2">Chronic cerebrospinal venous insufficiency (CCSVI)</h2>
		<p>We are pleased to be able to offer patients with multiple sclerosis who may have CCSVI, duplex scans of their jugular and vertebral veins to exclude reflux and/or narrowing in these vessels.</p>
		<p>CCSVI is a hypothesized syndrome where abnormal flow of blood in veins draining the brain and spinal cord has been associated with multiple sclerosis (MS).
		This was first described and postulated by Paolo Zamboni in 2007.
		Although many papers have already been published, these have not been robust large studies and little remains known as to the relationship between CCSVI and MS.
		Many institutions around the world, including Dr Robert Zivadinov in Buffalo in the USA, are conducting large trials to further evaluate.</p>
		<p>Several papers have been published but a lot of research needs to be undertaken before a definite association between CCSVI and multiple sclerosis can be made. 
		Many neurologists are sceptical as to this link.</p>
		<p>CCSVI refers to cerebrospinal venous blood flow disturbances with chronic suboptimal and insufficient venous drainage from the spine and brain. 
		The veins involved include the intracranial veins, jugular veins, veins draining the spinal cord and the azygous vein in the chest.</p>
		<p>The hypothesis is that various abnormalities of these vessels do not allow normal blood flow. These include: circumferential stenosis of the whole vessel wall, congenital webs, valve malformation, vessel hypoplasia, vessel twisting and vessel agenesis .The thought is that the resulting increased pressure of blood in the brain and spinal cord allows for the deposition of iron deposits that may trigger local inflammation, brain cell injury and death.</p>
		<p>Clearly MS is a complex disease with likely many different causes and triggers.CCSVI may be just one of many of these. This certainly is exciting research as if the link between CCSVI and MS is proven there may be treatment options including venous stenting and angioplasty.Much work needs to be done, as even if a link is established, it is still unclear whether treating the venous obstruction would be helpful in the management of MS.</p>
		<p>As with any new condition most doctors are only now learning how to correctly image patients. This will evolve over time.Many centres are now offering duplex ultrasound of the jugular veins in the neck to patients with MS with this in mind.</p>
		<p><a href ="http://watch.ctv.ca/news/w5/the-liberation-treatment/#clip237617">W5 : The Liberation Treatment : The Liberation Treatment, part one</a></p>
		
			
		<p><br />
		 </p>
        <a class="totop" href="#top">Back to top</a>
    </div>
    <div id="contentbar">
    	<div class="submenu contentbarbox">
        	<h3 class="h3">Click a link below to read</h3>
			<ul>
				<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
			    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
			    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
			    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
			    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
			    <li><a href="/support-stockings">Support Stockings</a></li>
			    <li><a href="/pregnancy">Pregnancy</a></li>
			    <li><a href="/feepayment-rebate">Fee Payment</a></li>
			    <li><a href="/disclaimer">Disclaimer</a></li>
			</ul>
                
        </div>
        <div class="drspotlight contentbarbox">
        	<h3 class="doctorname">Dr Ivor Berman</h3>
            <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
            <a href="/about" class="more">Find out more</a>
        </div>
        <div class="testimonial contentbarbox">
        	<h3 class="testimonial">Gallery and Testimonials</h3>
            <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
            <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
            <a href="/testimonials" class="more">Find out more</a>
        </div>
    </div>
</div>