---
layout: default
title: 
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
       	<a name="top"></a><h1 class="h1">Varicose Veins</h1>
           <h2 class="h2">How does blood normally circulate in the veins?</h2>
           <p>Veins carry blood back to the heart and lungs. When we are standing, blood circulates against the force of gravity. The venous circulation largely depends on calf and thigh muscle contraction to pump blood and this is why walking helps the circulation. Multiple small valves in leg veins normally prevent blood from returning down the vein down under the force of gravity.</p>
           <p>Surface and deep veins are connected in the thigh and calf through communicating veins called perforators. Most of the normal circulation is through the deep veins. Two large surface veins join the deep veins – the Great Saphenous extending from the groin to the ankle and the Small Saphenous extending from the back of the knee to the ankle.</p>
           	<ul>
               	<li>test</li>
               </ul>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> Whole bunch of breaks to fill
           <a class="totop" href="#top">Back to top</a>
       </div>
       <div id="contentbar">
       	<div class="submenu contentbarbox">
           	<h3 class="h3">Click a link below to read</h3>
           	<ul>
               	<li><a href="#">How does blood circulate in the veins?</a></li>
                   <li><a href="#">What are varicose, reticular and spider veins?</a></li>
                   <li><a href="#">What causes varicose veins?</a></li>
                   <li><a href="#">What are the clinical problems?</a></li>
                   <li><a href="#">Symptoms</a></li>
                   <li><a href="#">Complications</a></li>
               </ul>
                   
           </div>
           <div class="drspotlight contentbarbox">
           	<h3 class="doctorname">Dr Ivor Berman</h3>
               <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. He is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
               <a href="#" class="more">Find out more</a>
           </div>
           <div class="testimonial contentbarbox">
           	<h3 class="testimonial">Gallery and Testimonials</h3>
               <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
               <p>See the results and read hear stories from people who have bee treated at Specialst vein care.</p>
               <a href="#" class="more">Find out more</a>
           </div>
       </div>
</div><strong></strong>