---
layout: default
title: 
---
</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">Links</h1>
			<table border="0" width="410">
			    <tbody>
			        <tr>
			            <td width="290" valign="bottom">
			            <div align="left">Australasian College of Phlebology <a href="http://www.phlebology.com.au" target="_blank">www.phlebology.com.au</a></div>
			            </td>
			            <td width="120" valign="bottom">
			            <div align="left"><img height="63" width="80" src="plebology-logo-small.gif" alt="Phlebology logo" /></div>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom" colspan="2">
<hr>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom">
			            <div align="left">American college of phlebology<br />
			            <a href="http://www.phlebology.org" target="_blank">www.phlebology.org</a></div>
			            </td>
			            <td valign="bottom">
			            <div align="left"><img height="40" width="120" src="ACoP.gif" alt="American College of Phlebology" /></div>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom" colspan="2">
<hr>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom">
			            <div align="left">Royal Australasian and New Zealand <br />
			            College of Radiology<br />
			            <a href="http://www.ranzcr.edu.au" target="_blank">www.ranzcr.edu.au</a></div>
			            </td>
			            <td valign="bottom"><img height="50" width="47" src="RANZCR-logo-small.gif" alt="" /></td>
			        </tr>
			        <tr>
			            <td valign="bottom" colspan="2">
<hr>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom">
			            <div align="left">Australasian Society of Cosmetic Medicine<br />
			            <a href="http://www.cosmeticmedicine.org.au" target="_blank">www.cosmeticmedicine.org.au</a></div>
			            </td>
			            <td valign="bottom">
			            <div align="left"><img height="33" width="100" src="ASCM.gif" alt="Australasian Society of Cosmetic Medicine" /></div>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom" colspan="2">
<hr>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom">
			            <div align="left">EVLA on Youtube<br />
			            <a href="http://uk.youtube.com/watch?v=fL6U88FgCAo" target="_blank">uk.youtube.com/watch?v=fL6U88FgCAo</a></div>
			            </td>
			            <td valign="bottom">
			            <div align="left"> </div>
			            </td>
			        </tr>
			        <tr>
			            <td valign="bottom" colspan="2">

			            </td>
			        </tr>
			    </tbody>
			</table>
            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. He is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>