---
layout: default
title: 
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
    	<a name="top"></a><h1 class="h1">Locate Us</h1>
       	<p>258 Springvale Road, Glen Waverley</p>

			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?q=258+Springvale+Road,+Glen+Waverley+Victoria&oe=utf-8&client=firefox-a&ie=UTF8&split=0&gl=au&ei=Wi9xSrGLMIqssgOujIH3CA&z=14&iwloc=A&ll=-37.870246,145.170164&output=embed"></iframe><br /><small><a href="http://maps.google.com.au/maps?q=258+Springvale+Road,+Glen+Waverley+Victoria&oe=utf-8&client=firefox-a&ie=UTF8&split=0&gl=au&ei=Wi9xSrGLMIqssgOujIH3CA&z=14&iwloc=A&ll=-37.870246,145.170164&source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			<p> </p>
        <a class="totop" href="#top">Back to top</a>
    </div>
    <div id="contentbar">
    	<div class="submenu contentbarbox">
        	<h3 class="h3">Click a link below to read</h3>
        	<ul>
            	<li><a href="/appointment">Making an Appointment</a></li>
                <li><a href="/contact">Other Contact Details</a></li>
            </ul>
                
        </div>
        <div class="drspotlight contentbarbox">
        	<h3 class="doctorname">Dr Ivor Berman</h3>
            <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. He is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
            <a href="/about" class="more">Find out more</a>
        </div>
        <div class="testimonial contentbarbox">
        	<h3 class="testimonial">Gallery and Testimonials</h3>
            <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
            <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
            <a href="/testimonials" class="more">Find out more</a>
        </div>
    </div>
</div>