---
layout: default
title: Microsclerotherapy Spider Vein Removal
description: Spider vein removal treatment in Melbourne from one of the few doctors with dual specialisation - Radiologist & Phlebologist. We treat small to very small veins.
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
    	<a name="top"></a><h1 class="h1">Microsclerotherapy Spider Vein Removal</h1>
        <h2 class="h2">Microsclerotherapy</h2>
       	<p>Microsclerotherapy involves injecting a “sclerosant” directly into each vein with very fine needles. It was introduced in the 1920’s and made popular in the 1960’s. Less painful solutions for removal of surface veins were introduced into Australia several years ago and have been extensively investigated in many thousands of patients. The products that we use for spider vein removal at our Melbourne clinic are Polidocanol (Aethoxysclerol), Fibrovein (Sodium tetradecyl sulphate) and 20% Normal Saline.</p>
		<p>Microsclerotherapy is used to treat small to very small veins.</p>
		<p>Multiple treatment sessions may be required for complete removal. Most patients can expect at least a 70 percent improvement in the appearance of their legs. This may take up to 3 months to show maximum benefit and perfection cannot be guaranteed.<br />
		  <br />
		</p>
		<p><strong><em>What should you do before microsclerotherapy?</em></strong></p>
		<ul>
		    <li>If possible do not take aspirin for 7 days before treatment. This can be started again the next day</li>
		    <li>Avoid sun exposure and tanning for 1-2 weeks before and after treatment to avoid pigmentation problems</li>
		    <li>Do not apply moisturiser or shave/wax your legs on the day of treatment</li>
		    <li>Wear loose fitting clothing and sandals or loose shoes to allow for the thickness of the stockings</li>
		    <li>Treatment should not be considered if you intend to fly overseas within the following two weeks.<br />
		      <br />
		    </li>
		</ul>
		<p><strong><em>What happens during microsclerotherapy? </em></strong></p>
		<p>A sclerotherapy session at our Melbourne clinic takes between 15 and 45 minutes.</p>
		<p>You will lie down on a treatment couch. Using very fine needles a solution is injected into the spider veins. This irritates the lining of the vein causing the two opposing sides to stick together. The number of injections varies from 1-2 to 30 depending on the response of the veins to the therapy and the number of veins requiring treatment.</p>
		<p>During this procedure you may listen to music, read or talk to the practitioner. In spite of compression to attempt to keep the vein empty of blood, a small amount of clot can develop in the vein. This clot is slowly absorbed by the body.</p>
		<p>Tender lumpy swelling of the vein can persist for several weeks and it may be necessary to prick these veins to squeeze out “trapped blood”.</p>
		<p>You will rest for several minutes after the injections with the leg elevated and you should keep the leg elevated as much as possible for the first 24 hours.</p>
		<p>If possible, do not drive yourself home. You will be asked to go for a 30- 40 minute walk immediately after treatment and then daily for 1 week.</p>
		<p>Maintain normal daily activities, but avoid standing still for long periods.</p>
		<p>Avoid strenuous physical activity such as running for three to four weeks after treatment since this increases the risk of blood flow returning into the treated veins.</p>
		<p>You are required to avoid any flights of 2-4 hours duration for 2 weeks and any flights of greater than 4 hours duration for 4 weeks after treatment.</p>
		<p>If travel is unavoidable, then the flight should be covered by anticoagulation with subcutaneous Heparin injections given before departure and after arrival.</p>
		<p>If only surface spider veins are treated, then Hostess type stockings will suffice. If larger veins are treated at the same time then tighter stockings may have to be worn. We have range of graduated compression stockings available. These would be expertly fitted at the time of treatment.</p>
		<p>Depending on the treatment performed, the length of time that the stockings will have to be worn for will vary. You will be advised at the time of treatment. If larger veins are treated at the same sitting, stocking would typically be worn continuously for 3 -7 days. Then worn through the day, removing them at night and replacing them in the morning after the shower for the next 7days. (Depending on severity of disease).</p>
		<p>If limited spider veins are treated, then the stockings may only have to be worn for 3 days continuously and 4-7 days during the day only.</p>
		<p>Compression stockings are an essential part of treatment, as they:</p>
		<ul>
		    <li>Reduce pigmentation</li>
		    <li>Reduce the number of treatment sessions needed</li>
		    <li>Reduce the risk of deep vein thrombosis</li>
		    <li>Reduce the frequency of recurrence.</li>
		</ul>
		<p><a class="totop" href="#top">Back to top</a>
		  <br />
		</a></p>
		<p><strong><em>What can you expect following sclerotherapy/ microsclerotherapy? </em></strong></p>
		<p>Usually the veins look worse for a period of time before they start to look better. Improvement is usually seen in a couple of weeks but this may take up to 6 – 12 weeks to show the maximal effect.</p>
		<p>The following features are expected. They are not a cause for concern although they should be reported at review:</p>
		<ul>
		    <li><span class="bodybold">Mild pain/discomfort</span> may persist for several days, and shows that the injections are working. The degree of discomfort is partly related to the initial size of the veins. This is usually improved by walking or by Paracetamol or Ibuprofen. Soreness can occur behind the knee from rubbing by the bandage or stocking.</li>
		    <li><span class="bodybold">Discolouration and tender lumps</span> are usual early on. Red raised areas over treated veins is due to “trapped blood”. This usually disappears within four to six weeks. At the 2 week review these areas may be pricked to release this trapped blood. This is a normal event that occurs as part of treatment. It does not occur in every patient but is common. It is a sign that treatment has been successful.</li>
		    <li><span class="bodybold">Phlebitis or inflammation</span> of the treated veins can occur due to reaction to the sclerosant. It is treated by further compression, anti-inflammatories and regular walking. It does not represent infection and does not require treatment with antibiotics.</li>
		    <li><span class="bodybold">Migraine</span> This may be provoked by the injection foam sclerosant therapy in patients who are known migraine sufferers. These patients should take their usual migraine treatment an hour or so prior to treatment in the hope of preventing this.<br />
		      <br />
		    </li>
		</ul>
		<p><strong><em>What are the possible complications from sclerotherapy /microsclerotherapy ?</em></strong></p>
		<p>Complications can occur even with perfect technique.</p>
		<ul>
		    <li><span class="bodybold">Deep vein thrombosis</span> (DVT). <br />
		    Blood clot extending into the deep veins can occur. The risk is less than 1:2000 compared to the background risk of about 1:9000. This potentially serious complication is very uncommon if the protocol of compression and regular daily walking is followed.<br />
		    Although DVT post procedure is most uncommon, we at Specialist Vein Care perform Duplex scans routinely on all patients post Sclerotherapy/Endovenous Laser Ablation therapy to exclude this complication.</li>
		    <li><span class="bodybold">Allergic reaction</span> <br />
		    Allergy to the anaesthetic solution can occur. This is rare! It can present immediately as an anaphylactic reaction with generalised rash, itchiness or difficulty with breathing. Our practice is equipped and ready to deal with this circumstance if it arises.</li>
		    <li><span class="bodybold">Swelling of the leg or ankle</span> (2:100) <br />
		    This is a temporary phenomenon and is due to inflammation.</li>
		    <li><span class="bodybold">Pigmentation</span> (1:10) <br />
		    This relates to the appearance of brown marks near/along a treated vein and is due to haemosiderin, a form of iron from the blood. Most disappear within 3- 12 months but in about 5% of patients, this can persist past 12 months. This is of cosmetic importance only. Persistent pigmentation may respond to laser treatment.</li>
		    <li><span class="bodybold">Nerve injury</span> (3:1000) <br />
		    Irritation of surface sensory nerves can occur rarely but will disappear within a few weeks.</li>
		    <li><span class="bodybold">Skin ulceration</span> is very uncommon with foam. It occurs because solution has escaped into the surrounding skin or because of an abnormal connection between small veins and arteries. Most ulcers are small and heal over a few weeks leaving a small pale scar.</li>
		</ul>
        <a class="totop" href="#top">Back to top</a>
    </div>
    <div id="contentbar">
    	<div class="submenu contentbarbox">
        	<h3 class="h3">Click a link below to read</h3>
			<ul>
				<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
			    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
			    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
			    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
			    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
			    <li><a href="/support-stockings">Support Stockings</a></li>
			    <li><a href="/pregnancy">Pregnancy</a></li>
			    <li><a href="/feepayment-rebate">Fee Payment</a></li>
			    <li><a href="/disclaimer">Disclaimer</a></li>
			</ul>
                
        </div>
        <div class="drspotlight contentbarbox">
        	<h3 class="doctorname">Dr Ivor Berman</h3>
            <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
            <a href="/about" class="more">Find out more</a>
        </div>
        <div class="testimonial contentbarbox">
        	<h3 class="testimonial">Gallery and Testimonials</h3>
            <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
            <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
            <a href="/testimonials" class="more">Find out more</a>
        </div>
    </div>
</div>