---
layout: default
title: 
---
 </div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">Treatment and Services</h1>
<h2 class="h2">Pregnancy</h2>
           	<p>Common questions relating to pregnancy are:
			<ul>
			    <li><em>"Can I treat my veins?</em>"</li>
			    <li><em>“I am pregnant” or “I am planning to get pregnant. What can I do?</em>"</li>
			    <li><em>"</em><em>I am pregnant and have unsightly painful legs”</em></li>
			</ul>
			</p>
		<br /><h2 class="h2">Specialist Vein Care can help!</h2>
			<br />
			<p><strong><em>Background</em></strong><br />
			Many women first develop unsightly varicose and smaller superficial veins or find they get worse during pregnancy. These may just be unsightly or cause symptoms such as discomfort, itchiness, dull throb or a burning feeling. Often this is worse near the end of the day.</p>
			<p>Veins tend to get worse with each successive pregnancy and tends to be worse if one has twins or triplets. The good news is that veins that appear during pregnancy can improve significantly within 3 months after delivery, often with no treatment being necessary.</p>
			<p>Treatment of varicose veins is not performed during pregnancy. Varicose veins are generally harmless in the short term and can wait until after pregnancy for treatment if necessary. It is usual to wait 3 months after delivery before determining whether this is necessary or not. <br />
			</p>
			<p><strong><em>When should I treat them? </em></strong><br />
			Not during pregnancy. Wait about 3 months after delivery before deciding. If the veins are too uncomfortable to live with or their appearance worries you.</p>
			<p><em>If treatment is necessary, then one does not have to wait until having completed ones family before having treatment. Treatment can be performed between pregnancies. </em></p>
			<p><strong><em>Are Varicose Veins Serious?</em> </strong><br />
			Varicose veins are generally harmless in the short term and so treatment, if necessary, can usually wait until after pregnancy.</p>
			<p>A small number of pregnant women who have varicose veins develop small blood clots in the veins under the skin surface (a condition called superficial thrombophlebitis).</p>
			<p>If this occurs then the vein may feel hard and rope-like, with the skin often reddened, feeling hot and tender.</p>
			<p><strong><em>What Can Specialist Vein Care offer?</em></strong><em> </em><br />
			After a medical history and discrete examination a Duplex ultrasound of your legs would be performed to determine the cause and extent of the venous problem.</p>
			<p>Thereafter, advice re prevention and support re your particular circumstance would be given. Often support stockings would be recommended.</p>
			<ul>
			    <li>Regular exercise</li>
			    <li>Avoid excessive weight gain, if possible. Try to stay within the recommended weight range for your stage of pregnancy</li>
			    <li>Elevate your feet and legs as much as is practical</li>
			    <li>Try to avoid standing or sitting for extended periods of time</li>
			    <li>Sleep on your left side. This is because the inferior vena cava, the vein that drains the blood back from your legs is on the right side. This position helps relieve the weight of your baby in the uterus on this vein</li>
			    <li>Wear support stockings during the day</li>
			    <li>After delivery try to continue with the above for up to 3 months.</li>
			</ul>
            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>