---
layout: default
title: 
---
</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
			<a name="top"></a><h1 class="h1">For Doctors</h1>
			<p class="introduction">Order referal pads here</p>
			
<div class="referalform">
	<@formByName 'SVCReferalPadForm', ''>	
	<input type="hidden" name="__successUrl" value="http://${request.serverName}/referal-form/success"/>
	
	<fieldset>

			<div class="clearfix">
			<div class="firstname">
				<label for="FirstName">First Name</label><br/>
	<input type="text" id="FirstName" class="text-input" placeholder="john" name="SVCReferalPadForm.FirstName" value="${formFieldValue(SVCReferalPadForm, "FirstName")}">
				<@formFieldError SVCReferalPadForm, "FirstName" />
			</div>
			<div class="lastname">
				<label for="LastName">Last Name</label><br/>
<input type="text" id="LastName" class="text-input" placeholder="Doe" name="SVCReferalPadForm.LastName" value="${formFieldValue(SVCReferalPadForm, "LastName")}"><@formFieldError SVCReferalPadForm, "LastName" />
			</div>
			</div>
			<div class="providernumber">
				<label for="Providernumber">Provider Number</label><br/>
	<input type="text" id="Providernumber" class="text-input" placeholder="1234" name="SVCReferalPadForm.Providernumber" value="${formFieldValue(SVCReferalPadForm, "Providernumber")}"><@formFieldError SVCReferalPadForm, "Providernumber" />
			</div>
			<div class="address">
				<label for="Address">Your Address</label><br/>
				<input type="text" id="Address" class="text-input" placeholder="street name" name="SVCReferalPadForm.Address" value="${formFieldValue(SVCReferalPadForm, "Address")}">
				<@formFieldError SVCReferalPadForm, "Address" />
			</div>
			<div class="suburb">
				<label for="Suburb">Suburb</label><br/>
				<input type="text" id="Suburb" class="text-input" placeholder=" town" name="SVCReferalPadForm.Suburb" value="${formFieldValue(SVCReferalPadForm, "Suburb")}">
				<@formFieldError SVCReferalPadForm, "Suburb" />
			</div>
			<div class="postcode">
				<label for="Postcode">Postcode</label><br/>
	<input type="text" id="Postcode" class="text-input" placeholder="3182" name="SVCReferalPadForm.Postcode" value="${formFieldValue(SVCReferalPadForm, "Postcode")}">
				<@formFieldError SVCReferalPadForm, "Postcode" />
			</div>
			<div class="phonenumber">
				<label for="Phonenumber">Phone Number</label><br/>
<input type="text" id="Phonenumber" class="text-input" placeholder="12345678" name="SVCReferalPadForm.Phonenumber" value="${formFieldValue(SVCReferalPadForm, "Phonenumber")}">
			<@formFieldError SVCReferalPadForm, "Phonenumber" />
			</div>
			<div class="fax">
				<label for="Fax">Fax</label><br/>
<input type="text" id="Fax" class="text-input" placeholder="1234567" name="SVCReferalPadForm.Fax" value="${formFieldValue(SVCReferalPadForm, "Fax")}">

				<@formFieldError SVCReferalPadForm, "Fax" />
			</div>
			
			<div class="count">
						<label for="Count">How many do you require</label><br/>
			<input type="text" id="Count" class="text-input" placeholder="1" name="SVCReferalPadForm.Count" value="${formFieldValue(SVCReferalPadForm, "Count")}">
			<@formFieldError SVCReferalPadForm, "Count" />
					</div>
				
			<div class="label">
				<input type="submit" class="more" />
			</div>
		</fieldset>
	</@formByName>
</div>





			<a class="totop" href="#top">Back to top</a>
		</div>
		<div id="contentbar">
			<div class="submenu contentbarbox">
				<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
					<li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
					<li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
					<li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
					<li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
					<li><a href="/support-stockings">Support Stockings</a></li>
					<li><a href="/pregnancy">Pregnancy</a></li>
					<li><a href="/feepayment-rebate">Fee Payment</a></li>
					<li><a href="/disclaimer">Disclaimer</a></li>
				</ul>


			</div>
			<div class="drspotlight contentbarbox">
				<h3 class="doctorname">Dr Ivor Berman</h3>
				<p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. He is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
				<a href="/about" class="more">Find out more</a>
			</div>
			<div class="testimonial contentbarbox">
				<h3 class="testimonial">Gallery and Testimonials</h3>
				<span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
				<p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
				<a href="/testimonials" class="more">Find out more</a>
			</div>
		</div>
	</div>