---
layout: default
title: Ultrasound Guided Sclerotherapy Melbourne
description: The Ultrasound Guided Sclerotherapy procedure is conducted at our Melbourne clinic for small & medium sized veins. Using very fine needles, we ensure minimal discomfort.
---
</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">Ultrasound Guided Sclerotherapy</h1>
            <h2 class="h2">Ultrasound-guided Sclerotherapy (UGS)</h2>
           	<p>UGS for venous disease has been in use for many years. This is a very successful therapy, especially used in the treatment of medium to small sized veins. This can be used to treat the great or small saphenous veins and their tributaries depending on their size.</p>
			<p>This is performed by injecting a medicine under ultrasound guidance into the vein. Success rates for the Ultrasound Guided Sclerotherapythe procedure compare favourably to published results of surgery. The two products that we use are Polidocanol (Aethoxysklerol) or Fibrovein (Sodium tetradecyl sulphate). Both are detergents and act by washing away the lining of the vein allowing the two walls to stick together.</p>
			<p>This is typically performed by mixing the medicine with air or carbon dioxide to form a foam. The regulatory authority requires that each patient sign a consent form for the sclerosant to be given as foam.<br />
			<br />
			 </p>
			<p><strong><em>What are the advantages and disadvantages for UGS? </em></strong></p>
			<p>UGS is very effective in treating small and medium sized veins. This is can also be performed on veins such as the Great and Small Saphenous Veins and the Anterior Accessory Vein. This does not require admission to hospital or anaesthesia. There is usually no need to take time off work and one is able to continue with ones day to day activities. The Small Saphenous Vein often responds better to EVLA than to Sclerotherapy. There is a dose limit to the amount of sclerosant that can be injected at a single session, and so occasionally several sessions may be needed to effectively treat all the diseased veins. This will vary from patient to patient and whether trying to treat one or both legs in a single session.</p>
			<p>Often larger veins are better treated with Endovenous Laser Ablation, Ambulatory Phlebectomy or surgery, alone or in combination.<br />
			<br />
			 </p>
			<p><strong><em>Does the injection procedure hurt? </em></strong></p>
			<p>This is not a particularly uncomfortable procedure and is well tolerated. The amount of discomfort will vary with the individual. The needles used are extremely fine (similar to acupuncture needles) and many are hardly felt at all. The injected solution can sting slightly for short periods of time. If EVLA is used or Phlebectomy performed, then minimal discomfort is experienced as these are performed under local anaesthetic.</p>
			<p>            <a class="totop" href="#top">Back to top</a>
			<br />
			</a></p>
			<p><strong><em>What should you do before UGS? </em></strong></p>
			<ul>
			    <li>If possible do not take aspirin for 7 days before treatment. This can be started again the next day</li>
			    <li>Avoid sun exposure and tanning for 1-2 weeks before and after treatment to avoid pigmentation problems</li>
			    <li>Do not apply moisturiser to your legs on the day of treatment</li>
			    <li>Wear loose fitting clothing and sandals or loose shoes to allow for the thickness of the stockings.</li>
			</ul>
			<p>            <a class="totop" href="#top">Back to top</a>
			<br />
			</a></p>
			<p><strong><em>What happens during UGS? </em></strong></p>
			<p>Prior to the procedure at our Melbourne clinic, a sonographer performs an ultrasound of the leg similar to the initial screening scan to familiarise us with the veins. Injections will be performed with you lying on a treatment couch, which may be tilted at stages through the treatment.</p>
			<p>The needles used are very fine and produce minimal discomfort. Ultrasound is used to track the injected medicine along the veins that are being treated. After completion, a stocking will be applied to the treated leg. Occassionally a subcutaneous injection of the anticoagulant drug Clexane may be given.<br />
			<br />
			 </p>
			<p><strong><em>What should you do after UGS? </em></strong></p>
			<p>You will be asked to go for a 30-40 minute walk immediately after treatment. It is essential that you arrange for someone to drive you home. Walk or keep the leg elevated as much as possible for the first 24 hours and walk for 30-40 minutes each day for 2 weeks. Maintain normal daytime activities and avoid standing still for long periods. Avoid strenuous physical activity such as aerobics for three to four weeks after treatment since this increases the risk of blood flow returning into the treated veins. You are required to avoid any flights of 2-4 hours duration for 2 weeks and any flights of greater than 4 hours duration for 6 weeks after treatment. If travel is unavoidable, then the flight should be covered by anticoagulation with subcutaneous Clexane injections given before departure and after arrival.</p>
			<p>The stocking are typically worn continuously for 48 hours. Stockings are then worn for a further twelve days through the day, removing them at night and replacing them in the morning after the shower (2 weeks in total). It is routine practice to perform a check ultrasound scan at 2 weeks (occasionally earlier) after treatment to determine that the treated vein is occluded and to exclude the small risk of DVT. If residual veins are shown then these may require further UGS at a subsequent appointment. It may be necessary to come back once or twice at weekly/fortnightly intervals to inject further varicosities in each leg.</p>
			<p>            <a class="totop" href="#top">Back to top</a>
			<br />
			</a></p>
			<p><strong><em>What can you expect following UGS? </em></strong></p>
			<p>The following features are expected.</p>
			<p>They are not a cause for concern although they should be reported at review:</p>
			<ul>
			    <li><span class="bodybold">Mild pain/discomfort</span> may persist for several days and shows that the injections are working. The degree is partly related to the initial size of the veins. This is usually improved by walking or by Paracetomol or Ibuprofen. Soreness can occur behind the knee from rubbing by the bandage or stocking.</li>
			    <li><span class="bodybold">Discolouration and tender lumps</span> are usual early on. Red raised areas over treated veins are due to “trapped blood”. This usually disappears within four to six weeks. At the 2 week review these areas may be pricked to release this trapped blood. This is a normal event that occurs as part of treatment. It does not occur in every patient but is common.</li>
			    <li><span class="bodybold">Phlebitis or inflammation</span> of the treated veins can occur due to reaction to the sclerosant. It is treated by further compression, anti-inflammatories and regular walking. It does not represent infection and does not require treatment with antibiotics.</li>
			    <li><span class="bodybold">Migraine</span> This may be provoked by the injection foam sclerosant therapy in patients who are known migraine sufferers. These patients should take their usual migraine treatment an hour or so prior to treatment in the hope of preventing this.</li>
			</ul>
			<p>            <a class="totop" href="#top">Back to top</a>
			<br />
			</a></p>
			<p><strong><em>What are the possible complications from UGS? </em></strong></p>
			<p>Adverse reactions for UGS do not differ much from those for EVLA. Complications can occur even with perfect technique.</p>
			<p>These include:</p>
			<ul>
			    <li><span class="bodybold">Deep vein thrombosis</span> (DVT) <br />
			    Blood clot extending into the deep veins can occur. The risk is less than 1:2000 compared to the background risk of about 1:9000. This potentially serious complication is very uncommon if the protocol of compression and regular daily walking is followed.</li>
			    <li>Although DVT post procedure is most uncommon, we at Specialist Vein Care perform Duplex scans routinely on all patients post Sclerotherapy/Endovenous Laser Ablation therapy to exclude this complication</li>
			    <li><span class="bodybold">Allergic reaction</span> <br />
			    Allergy to the anaesthetic solution can occur. This is rare! It can present immediately as an anaphylactic reaction with generalised rash, itchiness or difficulty with breathing. Our practice is equipped and ready to deal with this circumstance if it arises</li>
			    <li><span class="bodybold">Swelling of the leg or ankle</span> (2:100) <br />
			    This is a temporary phenomenon and is due to inflammation.</li>
			    <li>Matting: Formation of small spider veins in response to therapy. Published range of risk = 6% - 75%. Accepted standards are about 20%. Of these about 6% can be permanent.</li>
			    <li><span class="bodybold">Pigmentation</span> (1:10) <br />
			    This relates to the appearance of brown marks near/along a treated vein and is due to haemosiderin, a form of iron from the blood. Most disappear within 3- 12 months but in about 5% of patients, this can persist past 12 months. This is of cosmetic importance only. Persistent pigmentation may respond to laser treatment</li>
			    <li><span class="bodybold">Nerve injury</span> (3:1000) <br />
			    Irritation of surface sensory nerves can occur rarely but will disappear within a few weeks</li>
			    <li><span class="bodybold">Skin ulceration</span> is very uncommon with foam. It occurs because solution has escaped into the surrounding skin or because of an abnormal connection between small veins and arteries. Most ulcers are small and heal over a few weeks leaving a small pale scar</li>
			    <li><span class="bodybold">Intra-arterial injection</span>. <br />
			    This is a very rare complication that has been reported but has never been seen in our practice. It would result in muscle and skin damage.</li>
			</ul>
            <a class="totop" href="#top">Back to top</a>
        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>