---
layout: default
title: 
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
    	<a name="top"></a><h1 class="h1">Gallery</h1>
        <h2 class="h2">Ultrasound Guided Sclerotherapy </h2>
		<p><img width="397" height="198" alt="micro" src="/img/before_sept09.jpg" /></p>
		<p><img src="/img/after_sept09.jpg" alt="" width="397" height="198" /></p>
		<hr align="left" width="400" size="1" noshade="noshade" />
		<h2 class="h2">Ultrasound Guided Sclerotherapy </h2>
		<p><img width="399" height="238" alt="micro" src="/img/before_sept09_2.jpg" /></p>
		<hr align="left" width="400" size="1" noshade="noshade" />
		<h2 class="h2">Microsclerotherapy</h2>
		<p><img width="399" height="238" alt="micro" src="/img/microsclerotherapy.jpg" /><br />
		  </p>
		<hr align="left" width="400" size="1" noshade="noshade" />
		<p><br />
		</p>
		<p></p>
		<h2 class="h2">Ultrasound Guided Sclerotherapy (UGS) and <br />
		Ambulatory Microphlebectomy (AP)</h2>
		<p><img width="403" height="237" alt="UGS" src="/img/UGS.jpg" /></p>
		<hr align="left" width="400" size="1" noshade="noshade" />
		<p> </p>
		<h2 class="h2">Ultrasound Guided Sclerotherapy (UGS) and <br />
		  Ambulatory Microphlebectomy (AP)</h2>
		<p><img src="/img/gallery_example3.jpg" alt="" width="349" height="438" /></p>
		<hr align="left" width="400" size="1" noshade="noshade" />
		<p> </p>
		<h2 class="h2">Endovenous Laser Ablation, 
		  Ambulatory Phlebectomy (AP) and Ultrasound Guided Sclerotherapy (UGS)</h2>
		<p><img src="/img/gallery4.jpg" alt="" width="399" height="356" /></p>
		<hr align="left" width="400" size="1" noshade="noshade" />

		<p> </p>
        <a class="totop" href="#top">Back to top</a>
    </div>
    <div id="contentbar">
    	<div class="submenu contentbarbox">
        	<h3 class="h3">Testimonials</h3>
        	<ul class="RHStestimonial">
            	<li>I have lived with spider veins practically my whole life... <a href="/testimonial1">Read More</a></li>
                <li>Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months... <a href="/testimonial2">Read More</a></li>
                <li>I wish to reflect on my treatment recently <a href="/testimonial3">Read More</a></li>
            </ul>
                
        </div>
        <div class="drspotlight contentbarbox">
        	<h3 class="doctorname">Dr Ivor Berman</h3>
            <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
            <a href="/about" class="more">Find out more</a>
        </div>
        <div class="testimonial contentbarbox">
        	<h3 class="testimonial">Gallery and Testimonials</h3>
            <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
            <p>See the results and read hear stories from people who have bee treated at Specialst vein care.</p>
            <a href="/testimonials" class="more">Find out more</a>
        </div>
    </div>
</div>