---
layout: default
title: 
---
</div>
<div class="sitewidth content clearfix">
	<div id="contentmain">
    	<a name="top"></a><h1 class="h1">Gallery and Testimonials</h1>
        <h2 class="h2">Client Testimonial 1</h2>
		<p>I have lived with spider veins practically my whole life and since having had children they had spread covering the entire side of my left thigh not to mention them turning from light red in colour to a dark deep blue/purplish colour. For a long time I just accepted that it is hereditary and that I would just have to live with it. I wore long pants and skirts even on the hottest of days due to my embarrassment of how my legs looked at just 39 years of age.</p>

		<p>After Dr Ivor Berman took a look at my veins he said that he could make at least a 70% improvement. I was so excited at the possibility that I made an appointment. Although I thought there were just spider veins, he could see that there was something more and performed an ultrasound which showed larger deeper veins that needed treatment as well. It took him just one hour to change my life and the way I feel about myself. The improvement is 100%.</p>

		<p>I now wear shorts without worrying who might be seeing my ugly veins. I wish I would have known years ago how great it could look after having them treated. I could not recommend Dr Berman more highly.</p>
	
		<p> </p>
        <a class="totop" href="#top">Back to top</a>
    </div>
    <div id="contentbar">
    	<div class="submenu contentbarbox">
        	<h3 class="h3">Testimonials</h3>
        	<ul>
            	<li>I have lived with spider veins practically my whole life... <a href="/testimonial1">Read More</a></li>
                <li>Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months... <a href="/testimonial2">Read More</a></li>
                <li>I wish to reflect on my treatment recently <a href="testimonial3">Read More</a></li>
            </ul>
                
        </div>
        <div class="drspotlight contentbarbox">
        	<h3 class="doctorname">Dr Ivor Berman</h3>
            <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
            <a href="/about" class="more">Find out more</a>
        </div>
        <div class="testimonial contentbarbox">
        	<h3 class="testimonial">Gallery and Testimonials</h3>
            <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
            <p>See the results and read hear stories from people who have bee treated at Specialst vein care.</p>
            <a href="/testimonials" class="more">Find out more</a>
        </div>
    </div>
</div>