---
layout: default
title: Varicose Veins
menuItemId: veins
description: Specialist Vein Care in Melbourne specialises in varicose veins and its modern treatments without surgery. With friendly care, latest equipment & specialist doctors.
---
</div>
	<div class="sitewidth content clearfix">
		<div id="contentmain">
        	<a name="top"></a><h1 class="h1">Varicose Veins</h1>
            <h2 class="h2">How does blood normally circulate in the veins?</h2>
<p>Veins carry blood back to the heart and lungs. When we are standing, blood circulates against the force of gravity. The venous circulation largely depends on calf and thigh muscle contraction to pump blood and this is why walking helps the circulation. Multiple small valves in leg veins normally prevent blood from returning down the vein down under the force of gravity.</p>
<p>Surface and deep veins are connected in the thigh and calf through communicating veins called perforators. Most of the normal circulation is through the deep veins. Two large surface veins join the deep veins – the Great Saphenous extending from the groin to the ankle and the Small Saphenous extending from the back of the knee to the ankle.</p>
<p>            <a class="totop" href="#top">Back to top</a><br />
  <br />
</p>
<h2 class="h2"><a name="varicose" id="varicose"></a>What are varicose, reticular and spider veins?</h2>
<p>“Varicose veins” are large surface veins that bulge above the skin surface.</p>
<p>“Reticular veins” are smaller blue veins that do not protrude.</p>
<p>“Spider veins” or “telangiectases” are tiny short unconnected or spidery branching vessels.</p>
<p><u><span class="bodybold">Medicare defines significant varicosities as veins larger than 2.5mm diameter and will not pay for treatment for smaller “cosmetic” veins. </span></u></p>
<p>            <a class="totop" href="#top">Back to top</a><br />
 </p>
<h2 class="h2"><a name="causes" id="causes"></a>What causes varicose veins?</h2>
<p>For mostly unknown reasons valves in the veins lose their function. Blood initially passes up the vein against gravity, but then falls down and therefore accumulates. This puts more pressure on the thin vein wall and the valve(s) below. The veins stretch and the valves below cannot close properly so that they also become “incompetent”, and blood “refluxes” down the leg.</p>
<p>High pressure within the veins then inevitably causes them to progressively enlarge. This is what we see on the skin surface. Many patients have parents who were also affected so that heredity may be a factor, but this may simply be because the condition is so common.</p>
<ul>
    <li>Oral contraceptives and hormone replacement therapy have not been shown to cause varicose veins.</li>
    <li>The cause of reticular and spider veins is not known.</li>
</ul>
<p>            <a class="totop" href="#top">Back to top</a><br />
  <br />
</p>
<h2 class="h2"><a name="clinical" id="clinical"></a>What are the clinical problems?</h2>
<p>Varicose disease is common. Although there are no studies describing the prevalence of varicose veins in the Australian population, the prevalence in countries with a similar demographic ranges from 6.8 – 39.7% in men and from 24.6 to 39% in women(MSAC 2003). Some patients seek treatment because of appearance.</p>
<p><a name="symptoms" id="symptoms"></a>Symptoms include:</p>
<ol>
    <li>Discomfort, throbbing and aching</li>
    <li>Fatigue/tiredness in the legs</li>
    <li>Heaviness, cramps, burning or itching</li>
    <li>Restless legs.</li>
</ol>
<p>Symptoms can occur even with small veins. These symptoms in the legs can be due to other conditions.</p>
<p><a name="complications" id="complications"></a>Complications include:</p>
<ol>
    <li>Swelling</li>
    <li>Bleeding and surface clots</li>
    <li>Pigmentation</li>
    <li>Damage to the skin and fat referred to as lipodermatosclerosis</li>
    <li>Ulceration.</li>
</ol>            

            <a class="totop" href="#top">Back to top</a>


        </div>
        <div id="contentbar">
        	<div class="submenu contentbarbox">
            	<h3 class="h3">Click a link below to read</h3>
				<ul>
					<li><a href="/endovenous-laser">Endovenous laser ablation (EVLA)</a></li>
				    <li><a href="/sclerotherapy">Ultrasound-guided sclerotherapy (UGS)</a></li>
				    <li><a href="/ambulatory-phlebectomy">Ambulatory phlebectomy</a></li>
				    <li><a href="/microsclerotherapy">Microsclerotherapy</a></li>
				    <li><a href="/conservative-surgery-laser">Conservative, Surgical ligation and Laser treatment</a></li>
				    <li><a href="/support-stockings">Support Stockings</a></li>
				    <li><a href="/pregnancy">Pregnancy</a></li>
				    <li><a href="/feepayment-rebate">Fee Payment</a></li>
				    <li><a href="/disclaimer">Disclaimer</a></li>
				</ul>
                    
            </div>
            <div class="drspotlight contentbarbox">
            	<h3 class="doctorname">Dr Ivor Berman</h3>
                <p>Dr Ivor Berman, who performs all assessments and treatments, is a Specialist Radiologist and Phlebologist. Based in Melbourne, he is one of only a few doctors in Australia performing vein treatments who has this dual specialisation.</p>
                <a href="/about" class="more">Find out more</a>
            </div>
            <div class="testimonial contentbarbox">
            	<h3 class="testimonial">Gallery and Testimonials</h3>
                <span>"Thank you Dr. Berman and staff at Specialist Vein Care for the excellent care offered to me during the last couple of months..."</span>
                <p>See the results and read hear stories from people who have bee treated at Specialist vein care.</p>
                <a href="/testimonials" class="more">Find out more</a>
            </div>
        </div>
	</div>