<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }} - Specialist Vein Care</title>
<meta name="description" content="${page.description}">
<meta name="keywords" content="${page.keywords}">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/style.css"/>
<script src="/js/modernizr-2.5.2.min.js"/></script>
<script type="text/javascript" src="http://use.typekit.com/wuz3ais.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="/img/svcfavicon.png" rel="shortcut icon" />

<link rel="author" href="https://plus.google.com/108259442312329537162/posts" />

<meta name="google-site-verification" content="lT7w5QzRRtiQFgCfwTLLsOdljf_RwXn1T3OXhFq3xJg" />

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(["_setAccount", "UA-30942924-1"]);
_gaq.push(["_trackPageview"]);
(function() {
var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>

<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div role="main">
	<div class="shadowwrapper">
		<div id="header" class="sitewidth">
			<div class="headerlogowrapper">
				<img src="/img/logo_svc-head.png" width="145" height="94" alt="Special Vein Care" class="headerlogo">
			</div>
			<div id="headercopy">
				 Providing non-surgical treatment of varicose and spider veins.
			</div>
<a class="makeappointment" href="/appointment">Make an appointment <img src="/img/icon_white-arrow-right.png" width="13" height="15" alt=""></a>
		</div>
		<div class="sitewidth" id="mainnav">
			<ul>
<li><a href="/" {% if page.menuItemId == 'home' %}class="active"{% endif %}>Home</a></li>
<li><a href="/about"{% if page.menuItemId == 'about' %}class="active"{% endif %}>About</a></li>
<li><a href="/varicoseveins"{% if page.menuItemId == 'veins' %}class="active"{% endif %}>Varicose Veins</a></li>
<li><a href="/treatments"{% if page.menuItemId == 'treatments' %}class="active"{% endif %}>Treatments</a></li>
<li><a href="/fordoctors"{% if page.menuItemId == 'doctors' %}class="active"{% endif %}>For Doctors</a></li>
<li><a href="/testimonials"{% if page.menuItemId == 'testimonials' %}class="active"{% endif %}>Testimonials</a></li>
<li><a href="/faq"{% if page.menuItemId == 'faq' %}class="active"{% endif %}>FAQ</a></li>
<li><a href="/contact"{% if page.menuItemId == 'contact' %}class="active"{% endif %}>Contact</a></li>
<li><a href="/independent"{% if page.menuItemId == 'independent' %}class="active"{% endif %}>Independent Vascular Imaging</a></li>
			</ul>
		</div>
		
    
		{{content}}
    
    <div class="sitewidth" id="footerpanel">
	   	<ul>
	       	<li><a href="http://www.phlebology.com.au"><img src="/img/img_footer-cp.jpg" width="97" height="87" alt=""></a></li>
	           <li><a href="http://www.phlebology.org/"><img src="/img/img_footer-acp.jpg" height="87" alt=""></a></li>
	           <li><a href="http://www.ranzcr.edu.au/"><img src="/img/img_footer-acm.jpg" height="87" alt=""></a></li>
	           <li><a href="http://www.cosmeticmedicine.org.au/"><img src="/img/img_footer-ascm.jpg" height="87" alt=""></a></li>
	        </ul>
	        <ul class="sociallinks">
	        	<li><a href="#" class="fb"></a></li>
                   <li><a href="http://www.twitter.com/specveincare" class="twitter"></a></li>
	           <li><a href="#" class="linkedin"></a></li>
	        </ul>
	   </div>
</div>
	   <div class="sitewidth clearfix" id="footersublinks">
	   	<span>© 2012 Specialist Vein Care  <!--| <a href="privacy.html">Privacy</a> | <a href="disclaimer.html">Disclaimer</a>--></span><span class="hellomedical">Website by <a href="http://www.hellomedical.com" target="_blank">HelloMedical</a></span>
	   </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/script.js"/></script>
</body>
</html>